In [2]:
import pandas as pd
from pyarrow import feather

import re
import os
import subprocess
import numpy as np

### TORONTO

In [49]:
tor_files = subprocess.getoutput('ls feather-data/*.*').split('\n')
tor_files

['feather-data/2014Q4_to_2015Q3_Bike_Share_Toronto_Ridership.xlsx',
 'feather-data/2016_Bike_Share_Toronto_Ridership_Q3.xlsx',
 'feather-data/2016_Bike_Share_Toronto_Ridership_Q4.xlsx',
 'feather-data/2017_BikeShare_Data.zip']

'2014Q4_to_2015Q3_Bike_Share_Toronto_Ridership.xlsx' not used because it is based on a different data collection methodology.

df.isnull().values.any()
dt[(dt.isna().values)]

In [50]:
os.rename('feather-data/2016_Bike_Share_Toronto_Ridership_Q3.xlsx', 'feather-data/toronto_2016Q3.xlsx')
os.rename('feather-data/2016_Bike_Share_Toronto_Ridership_Q4.xlsx', 'feather-data/toronto_2016Q4.xlsx')

In [51]:
def xlsxtofeather(fname):
    with open(fname, 'rb') as f: 
        df_xl = pd.read_excel(f)
        print(fname)
        print(df.columns)
        print(df.shape)
        print(df.isnull().values.any())
        fname = fname.split('.')[0]
        feather.write_feather(df_xl, f'{fname}.feather')

In [52]:
xlsxtofeather('feather-data/toronto_2016Q3.xlsx')

feather-data/toronto_2016Q3.xlsx
Index(['org', 'name', 'items_df9', 'spend_df9'], dtype='object')
(50, 4)
False

In [159]:
df = feather.read_feather('feather-data/toronto_2016Q3.feather')
df.isnull().values.any()

True

In [160]:
df[df.isnull().values]

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_name,to_station_name,user_type
23240,459742,2016-09-30 16:05:00,2016-09-30 17:24:00,4736,King St W / Bay St (West Side),None,Member
136325,457065,2016-09-29 22:08:00,2016-09-29 22:13:00,282,None,Queens Quay W / Dan Leckie Way,Member
343349,459793,2016-09-30 16:17:00,2016-09-30 16:30:00,790,None,Bathurst St / Fort York Blvd,Member
367761,459636,2016-09-30 15:33:00,2016-09-30 15:46:00,760,Queens Quay W / Lower Simcoe St,None,Casual
367939,461287,2016-09-30 21:11:00,2016-09-30 21:46:00,2110,None,Queens Quay W / Lower Simcoe St,Casual

In [161]:
df_no_missing = df.dropna()
df_no_missing.shape, df.shape

((367957, 7), (367962, 7))

In [162]:
feather.write_feather(df_no_missing, 'feather-data/toronto_2016Q3.feather')

In [163]:
df_no_missing.isnull().values.any()

False

In [53]:
df_xl = pd.read_excel('feather-data/toronto_2016Q4.xlsx', dtype = {'trip_start_time': 'object'})

In [56]:
df_xl.to_csv('feather-data/toronto_2016Q4.csv')

In [57]:
print(df_xl.columns)
print(df_xl.shape)
print(df_xl.isnull().values.any())

Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_name', 'to_station_name', 'user_type'],
      dtype='object')
(217569, 7)
True

In [76]:
from zipfile import PyZipFile

pzf = PyZipFile('feather-data/2017_BikeShare_Data.zip')
pzf.extractall('./feather-data')

In [77]:
!ls feather-data/'2017 Data'

Bikeshare Ridership (2017 Q1).csv
Bikeshare Ridership (2017 Q2).csv
Bikeshare Ridership (2017 Q3).csv
Bikeshare Ridership (2017 Q4).csv
~$ke Share Toronto Ridership_Approval to Publish Form.docx

In [78]:
! mv feather-data/'2017 Data'/*.* feather-data

In [79]:
!ls feather-data

2014Q4_to_2015Q3_Bike_Share_Toronto_Ridership.xlsx
2017 Data
2017_BikeShare_Data.zip
Bikeshare Ridership (2017 Q1).csv
Bikeshare Ridership (2017 Q2).csv
Bikeshare Ridership (2017 Q3).csv
Bikeshare Ridership (2017 Q4).csv
toronto_2016Q3.feather
toronto_2016Q3.xlsx
toronto_2016Q4.csv
toronto_2016Q4.xlsx
~$ke Share Toronto Ridership_Approval to Publish Form.docx

In [80]:
os.rename('feather-data/Bikeshare Ridership (2017 Q1).csv', 'feather-data/toronto_2017Q1.csv')
os.rename('feather-data/Bikeshare Ridership (2017 Q2).csv', 'feather-data/toronto_2017Q2.csv')
os.rename('feather-data/Bikeshare Ridership (2017 Q3).csv', 'feather-data/toronto_2017Q3.csv')
os.rename('feather-data/Bikeshare Ridership (2017 Q4).csv', 'feather-data/toronto_2017Q4.csv');

In [83]:
def csvtofeather(fname):
    print(fname)
    with open(fname, 'rb') as f: 
        df_csv = pd.read_csv(f)
        print(fname)
        print(df_csv.columns)
        print(df_csv.shape)
        print(df_csv.isnull().values.any())
        fname = fname.split('.')[0]
        feather.write_feather(df_csv, f'{fname}.feather')

In [84]:
tor_files = subprocess.getoutput('ls feather-data/*.csv').split('\n')
tor_files

['feather-data/toronto_2016Q4.csv',
 'feather-data/toronto_2017Q1.csv',
 'feather-data/toronto_2017Q2.csv',
 'feather-data/toronto_2017Q3.csv',
 'feather-data/toronto_2017Q4.csv']

In [87]:
for file in tor_files:
    csvtofeather(file)

feather-data/toronto_2016Q4.csv
feather-data/toronto_2016Q4.csv
Index(['Unnamed: 0', 'trip_id', 'trip_start_time', 'trip_stop_time',
       'trip_duration_seconds', 'from_station_name', 'to_station_name',
       'user_type'],
      dtype='object')
(217569, 8)
True
feather-data/toronto_2017Q1.csv
feather-data/toronto_2017Q1.csv
Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'user_type'],
      dtype='object')
(132123, 9)
False
feather-data/toronto_2017Q2.csv
feather-data/toronto_2017Q2.csv
Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'user_type'],
      dtype='object')
(333353, 9)
False
feather-data/toronto_2017Q3.csv
feather-data/toronto_2017Q3.csv
Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_name', 'to_station_name', 'user_type'],
      dtype='object')
(663488, 7)
False
feather-data/toronto_2017Q4.csv
feather-data/toronto_2017Q4.csv
Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_name', 'to_station_name', 'user_type'],
      dtype='object')
(363405, 7)
True

In [120]:
# remove column 0 in feather-data/toronto_2016Q4.csv
df = feather.read_feather('feather-data/toronto_2016Q4.feather')
df.drop(['Unnamed: 0'], inplace = True, axis = 1)

In [90]:
df.columns

Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_name', 'to_station_name', 'user_type'],
      dtype='object')

In [92]:
feather.write_feather(df, 'feather-data/toronto_2016Q4.feather')

In [93]:
df.isnull().values.any()

True

In [96]:
df.head()

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_name,to_station_name,user_type
0,462305,2016-01-10 00:00:00,2016-01-10 00:07:00,394,Queens Quay W / Dan Leckie Way,Fort York Blvd / Garrison Rd,Casual
1,462306,2016-01-10 00:00:00,2016-01-10 00:09:00,533,Sherbourne St / Wellesley St,Edward St / Yonge St,Member
2,462307,2016-01-10 00:00:00,2016-01-10 00:07:00,383,Queens Quay W / Dan Leckie Way,Fort York Blvd / Garrison Rd,Casual
3,462308,2016-01-10 00:01:00,2016-01-10 00:27:00,1557,Cherry St / Distillery Ln,Fort York Blvd / Capreol Crt,Casual
4,462309,2016-01-10 00:01:00,2016-01-10 00:27:00,1547,Cherry St / Distillery Ln,Fort York Blvd / Capreol Crt,Casual

In [108]:
df[(df.isna().values)]

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_name,to_station_name,user_type
159,462477,2016-01-10 00:54:00,2016-01-10 01:12:00,1057,Church St / Alexander St,None,Member
1995,464586,2016-01-10 22:20:00,2016-01-10 22:40:00,1226,None,King St W / Stafford St,Member
3397,466039,2016-02-10 08:27:00,2016-02-10 08:32:00,324,Simcoe St / Wellington St W,None,Casual
3512,466166,2016-02-10 11:15:00,2016-02-10 11:23:00,469,None,Union Station,Casual

In [109]:
df_no_missing = df.dropna()

In [110]:
df_no_missing.shape

(217565, 7)

In [111]:
df.shape

(217569, 7)

In [118]:
df_no_missing.isnull().values.any()

False

In [119]:
feather.write_feather(df_no_missing, 'feather-data/toronto_2016Q4.feather')

In [124]:
df = feather.read_feather('feather-data/toronto_2017Q4.feather')

In [125]:
df.isnull().values.any()

True

In [126]:
df.shape

(363405, 7)

In [127]:
df[(df.isna().values)]

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_name,to_station_name,user_type
295638,2302635,11/29/17 05:53:54,NULLNULL,0,Seaton St / Dundas St E,None,Casual

In [128]:
df_no_missing = df.dropna()

In [129]:
df_no_missing.shape

(363404, 7)

In [130]:
feather.write_feather(df_no_missing, 'feather-data/toronto_2017Q4.feather')

In [131]:
df_no_missing.isnull().values.any()

False

In [134]:
tor_files = subprocess.getoutput('ls feather-data/*.feather').split('\n')
tor_files

['feather-data/toronto_2016Q3.feather',
 'feather-data/toronto_2016Q4.feather',
 'feather-data/toronto_2017Q1.feather',
 'feather-data/toronto_2017Q2.feather',
 'feather-data/toronto_2017Q3.feather',
 'feather-data/toronto_2017Q4.feather']

In [164]:
list_stations_all = []

for file in tor_files:
    print(file)
    df = feather.read_feather(file)
    print(df.isnull().values.any())
    stations_set = df[['from_station_name', 'to_station_name']].values.ravel()
    list_stations_all.extend(stations_set)

feather-data/toronto_2016Q3.feather
False
feather-data/toronto_2016Q4.feather
False
feather-data/toronto_2017Q1.feather
False
feather-data/toronto_2017Q2.feather
False
feather-data/toronto_2017Q3.feather
False
feather-data/toronto_2017Q4.feather
False

In [166]:
len(list_stations_all)

4155780

In [171]:
# https://stackoverflow.com/questions/30773911/union-of-multiple-sets-in-python
tor_stations_set = set(list_stations_all)

In [172]:
len(tor_stations_set)

293

In [173]:
tor_stations = pd.DataFrame(tor_stations_set, columns = ['intersection'])
tor_stations['city'] = 'tor'
tor_stations.head()

                           intersection city
0               King St W / Spadina Ave  tor
1                 519 Church St - SMART  tor
2                      51 Parliament St  tor
3  25 York St (ACC/Union Station South)  tor
4       Liberty St / Fraser Ave Green P  tor

In [175]:
#Assign codes to stations
tor_stations.insert(0, 'code', range(7000, 7000 + len(tor_stations)))
tor_stations.head()

   code                          intersection city
0  7000               King St W / Spadina Ave  tor
1  7001                 519 Church St - SMART  tor
2  7002                      51 Parliament St  tor
3  7003  25 York St (ACC/Union Station South)  tor
4  7004       Liberty St / Fraser Ave Green P  tor

In [176]:
tor_stations.dtypes

code             int64
intersection    object
city            object
dtype: object

In [177]:
tor_stations['code'] = tor_stations.code.astype('str')
tor_stations.dtypes

code            object
intersection    object
city            object
dtype: object

In [178]:
tor_stations_copy = tor_stations.copy() # copy used to merge codes into original data files

In [179]:
tor_stations['intersection'] = tor_stations['intersection'].str.replace('/','&')
tor_stations.head()

   code                          intersection city
0  7000               King St W & Spadina Ave  tor
1  7001                 519 Church St - SMART  tor
2  7002                      51 Parliament St  tor
3  7003  25 York St (ACC&Union Station South)  tor
4  7004       Liberty St & Fraser Ave Green P  tor

In [180]:
#check for any addresses that do not match the pattern of (street name & street name)

pattern = re.compile("^((?!&).)*$")
for addr in tor_stations.intersection:
    m = pattern.search(addr)
    if m is not None:
        print(m.group(0))

519 Church St - SMART
51 Parliament St
Martin Goodman Trail (Marilyn Bell Park)
Donlands Station
424 Wellington St W
Jimmie Simpson Park (Queen St E)
Woodbine Subway Green P (Cedarvale Ave)
Exhibition GO (Atlantic Ave)
Base Station
Castle Frank Station
Metro Hall Plaza
161 Bleecker St (South of Wellesley)
Riverdale Park North (Broadview Ave)
The Royal Ontario Museum (Bloor St Entrance)
Sunnyside - Gus Ryder Pool
Mary McCormick Rec Centre (Sheridan Ave)
Summerhill Station
Bathurst Subway Station
Exhibition GO Station
Lansdowne Subway Green P
Fringe Next Stage - 7219
111 Bond St (North of Dundas St E)  - SMART
Chorley Park - SMART
Taddle Creek Park
HTO Park (Queens Quay W)
Landsdowne Subway Green P
Union Station
Central Tech  (Harbord St)
Riverdale Park South (Broadview Ave)
Humber Bay Shores Park East
College Park South
80 Clinton St (North of College)
424 Wellington St. W
High Park Subway Station
Pape Subway Green P
Chester Station
HTO Park (Queen's Quay W)
Dufferin Gate - SMART
Humber Bay Shores Park West
Toronto Eaton Centre (Yonge St)
Victoria Park Subway Station - SMART

In [181]:
# remove the word SMART from address
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.replace.html
repl = lambda m: m.group(0)[:-8]
tor_stations.intersection = tor_stations.intersection.str.replace(r"[\w|\s]* - SMART", repl)

     code                     intersection city
283  7283         Dundonald St & Church St  tor
284  7284                 King & Cowan Ave  tor
285  7285          Beverly St & College St  tor
286  7286           Borden St & Bloor St W  tor
287  7287          Yonge St & Dundonald St  tor
288  7288           Trinity St &Front St E  tor
289  7289  Rusholme Park Cres & College St  tor
290  7290    Danforth Ave & Barrington Ave  tor
291  7291            McGill St & Church St  tor
292  7292            Bloor St W & Shaw Ave  tor

In [185]:
tor_stations.query("intersection == 'Victoria Park Subway Station'")

     code                  intersection city
265  7265  Victoria Park Subway Station  tor

In [186]:
tor_inter = tor_stations['intersection']
tor_inter[:5]

0                 King St W & Spadina Ave
1                           519 Church St
2                        51 Parliament St
3    25 York St (ACC&Union Station South)
4         Liberty St & Fraser Ave Green P
Name: intersection, dtype: object

In [196]:
def geocode_city_intersection(intersections, city, apikey):
    pause = [1, 2, 3]
    latlong = []

    client = GeocodioClient(apikey)

    for intersection in intersections:
        location = client.geocode(f'{intersection}, {city}, Canada')
        latlong.append(location.coords)

        sleep(choice(pause))
    return latlong

In [197]:
from geocodio import GeocodioClient
from time import sleep
from random import choice

apikey = API-KEY # insert
city = 'Toronto'

latlong_list = geocode_city_intersection(tor_inter, city, apikey)

In [199]:
len(latlong_list)

293

In [201]:
tor_stations.reset_index(drop = True, inplace = True)
tor_stations = pd.concat([tor_stations, pd.DataFrame(latlong_list, columns=['latitude', 'longitude'])], axis = 1)
tor_stations.head()

   code                          intersection city   latitude  longitude
0  7000               King St W & Spadina Ave  tor  43.250575 -79.833498
1  7001                         519 Church St  tor  43.666552 -79.380943
2  7002                      51 Parliament St  tor  43.651951 -79.362142
3  7003  25 York St (ACC&Union Station South)  tor  43.643432 -79.381214
4  7004       Liberty St & Fraser Ave Green P  tor  43.637585 -79.424121

In [202]:
feather.write_feather(tor_stations, 'feather-data/tor_stations.feather')

In [220]:
df_ft = feather.read_feather('feather-data/toronto_2017Q4.feather')
from_df = pd.merge(df_ft, tor_stations_copy, 
                   left_on='from_station_name', right_on='intersection', 
                   how = 'inner')

In [221]:
from_df.tail()

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_name,to_station_name,user_type,code,intersection,city
363399,2382800,12/30/17 13:34:31,12/30/17 13:40:28,357,Church St / Wood St,Bloor St W / Balmuto St,Member,7282,Church St / Wood St,tor
363400,2383025,12/30/17 17:57:25,12/30/17 18:05:40,495,Church St / Wood St,Carlton St / Parliament St,Member,7282,Church St / Wood St,tor
363401,2383309,12/31/17 12:47:25,12/31/17 12:53:07,342,Church St / Wood St,161 Bleecker St (South of Wellesley),Member,7282,Church St / Wood St,tor
363402,2383593,12/31/17 19:07:02,12/31/17 19:12:40,338,Church St / Wood St,Sherbourne St / Wellesley St E,Member,7282,Church St / Wood St,tor
363403,2314950,12/01/17 14:43:54,12/01/17 14:44:02,8,Base Station,Base Station,Member,7036,Base Station,tor

In [223]:
to_df = pd.merge(from_df, tor_stations_copy, 
                   left_on='to_station_name', right_on='intersection', 
                   how = 'left', suffixes=('_left', '_right'))

In [224]:
to_df.tail()

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_name,to_station_name,user_type,code_left,intersection_left,city_left,code_right,intersection_right,city_right
363399,2382800,12/30/17 13:34:31,12/30/17 13:40:28,357,Church St / Wood St,Bloor St W / Balmuto St,Member,7282,Church St / Wood St,tor,7128,Bloor St W / Balmuto St,tor
363400,2383025,12/30/17 17:57:25,12/30/17 18:05:40,495,Church St / Wood St,Carlton St / Parliament St,Member,7282,Church St / Wood St,tor,7205,Carlton St / Parliament St,tor
363401,2383309,12/31/17 12:47:25,12/31/17 12:53:07,342,Church St / Wood St,161 Bleecker St (South of Wellesley),Member,7282,Church St / Wood St,tor,7050,161 Bleecker St (South of Wellesley),tor
363402,2383593,12/31/17 19:07:02,12/31/17 19:12:40,338,Church St / Wood St,Sherbourne St / Wellesley St E,Member,7282,Church St / Wood St,tor,7267,Sherbourne St / Wellesley St E,tor
363403,2314950,12/01/17 14:43:54,12/01/17 14:44:02,8,Base Station,Base Station,Member,7036,Base Station,tor,7036,Base Station,tor

In [228]:
df = to_df.copy()
df.drop(['from_station_name', 'to_station_name', 'intersection_left', 'city_left', 'intersection_right'], axis = 1, inplace = True)
df.head()

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,user_type,code_left,code_right,city_right
0,1971685,10/01/17 00:00:01,10/01/17 00:14:10,849,Member,7202,7149,tor
1,1971699,10/01/17 00:03:26,10/01/17 00:12:20,534,Member,7202,7003,tor
2,1971782,10/01/17 00:26:35,10/01/17 00:29:52,197,Casual,7202,7240,tor
3,1971893,10/01/17 00:57:21,10/01/17 01:46:53,2972,Casual,7202,7153,tor
4,1971894,10/01/17 00:57:24,10/01/17 01:47:18,2994,Casual,7202,7153,tor

In [229]:
df = df[['trip_id', 'trip_start_time', 'code_left', 
               'trip_stop_time', 'code_right', 'trip_duration_seconds', 'user_type', 'city_right']]
df.columns = ['trip_id', 'trip_start_time', 'start_station_code', 
               'trip_stop_time', 'end_station_code', 'trip_duration_seconds', 'membership_type', 'city']
df.membership_type = np.where(df.membership_type == "Member", '1', '0')
df.head()

,trip_id,trip_start_time,start_station_code,trip_stop_time,end_station_code,trip_duration_seconds,membership_type,city
0,1971685,10/01/17 00:00:01,7202,10/01/17 00:14:10,7149,849,1,tor
1,1971699,10/01/17 00:03:26,7202,10/01/17 00:12:20,7003,534,1,tor
2,1971782,10/01/17 00:26:35,7202,10/01/17 00:29:52,7240,197,0,tor
3,1971893,10/01/17 00:57:21,7202,10/01/17 01:46:53,7153,2972,0,tor
4,1971894,10/01/17 00:57:24,7202,10/01/17 01:47:18,7153,2994,0,tor

In [243]:
print(len(df.query('trip_duration_seconds == 0')))

0

In [319]:
def clean_tor(fname):
    print(fname)
    
    df_ftr = feather.read_feather(fname)
    print(df_ftr.columns)
    print(df_ftr.shape)
    print(df_ftr.dtypes)
    
    from_df = pd.merge(df_ftr, tor_stations_copy, 
                   left_on='from_station_name', right_on='intersection', 
                   how = 'inner')
    
    to_df = pd.merge(from_df, tor_stations_copy, 
                   left_on='to_station_name', right_on='intersection', 
                   how = 'left', suffixes=('_left', '_right'))
    
    df = to_df.copy()
    df.drop(['trip_id', 'from_station_name', 'to_station_name', 'intersection_left', 'city_left', 'intersection_right'], axis = 1, inplace = True)
    
    df = df[['trip_start_time', 'code_left', 
               'trip_stop_time', 'code_right', 'trip_duration_seconds', 'user_type', 'city_right']]
    df.columns = ['trip_start_time', 'start_station_code', 
               'trip_stop_time', 'end_station_code', 'trip_duration_seconds', 'membership_type', 'city']
    
    df['membership_type'] = np.where(df.membership_type == "Member", '1', '0')
    df['trip_start_time'] = pd.to_datetime(df.trip_start_time)
    df['trip_stop_time'] = pd.to_datetime(df.trip_stop_time)
    
    print(df.columns)
    print(df.shape)
    print(df.dtypes)
    print(len(df.query('trip_duration_seconds == 0')))
    print(df.isnull().values.any())
    print("-----------------------------------------------------------------------------------")
    
    feather.write_feather(df, fname)

In [320]:
tor_files = subprocess.getoutput('ls feather-data/t*.feather').split('\n')
tor_files[1:]

['feather-data/toronto_2016Q3.feather',
 'feather-data/toronto_2016Q4.feather',
 'feather-data/toronto_2017Q1.feather',
 'feather-data/toronto_2017Q2.feather',
 'feather-data/toronto_2017Q3.feather',
 'feather-data/toronto_2017Q4.feather']

In [321]:
for file in tor_files[1:]:
    clean_tor(file)

feather-data/toronto_2016Q3.feather
Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_name', 'to_station_name', 'user_type'],
      dtype='object')
(367957, 7)
trip_id                           int64
trip_start_time          datetime64[ns]
trip_stop_time           datetime64[ns]
trip_duration_seconds             int64
from_station_name                object
to_station_name                  object
user_type                        object
dtype: object
Index(['trip_start_time', 'start_station_code', 'trip_stop_time',
       'end_station_code', 'trip_duration_seconds', 'membership_type', 'city'],
      dtype='object')
(367957, 7)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
0
False
-----------------------------------------------------------------------------------
feather-data/toronto_2016Q4.feather
Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_name', 'to_station_name', 'user_type'],
      dtype='object')
(217565, 7)
trip_id                   int64
trip_start_time          object
trip_stop_time           object
trip_duration_seconds     int64
from_station_name        object
to_station_name          object
user_type                object
dtype: object
Index(['trip_start_time', 'start_station_code', 'trip_stop_time',
       'end_station_code', 'trip_duration_seconds', 'membership_type', 'city'],
      dtype='object')
(217565, 7)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
0
False
-----------------------------------------------------------------------------------
feather-data/toronto_2017Q1.feather
Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'user_type'],
      dtype='object')
(132123, 9)
trip_id                   int64
trip_start_time          object
trip_stop_time           object
trip_duration_seconds     int64
from_station_id           int64
from_station_name        object
to_station_id             int64
to_station_name          object
user_type                object
dtype: object
Index(['trip_start_time', 'start_station_code', 'trip_stop_time',
       'end_station_code', 'trip_duration_seconds', 'membership_type', 'city'],
      dtype='object')
(132123, 7)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
0
False
-----------------------------------------------------------------------------------
feather-data/toronto_2017Q2.feather
Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'user_type'],
      dtype='object')
(333353, 9)
trip_id                   int64
trip_start_time          object
trip_stop_time           object
trip_duration_seconds     int64
from_station_id           int64
from_station_name        object
to_station_id             int64
to_station_name          object
user_type                object
dtype: object
Index(['trip_start_time', 'start_station_code', 'trip_stop_time',
       'end_station_code', 'trip_duration_seconds', 'membership_type', 'city'],
      dtype='object')
(333353, 7)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
0
False
-----------------------------------------------------------------------------------
feather-data/toronto_2017Q3.feather
Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_name', 'to_station_name', 'user_type'],
      dtype='object')
(663488, 7)
trip_id                   int64
trip_start_time          object
trip_stop_time           object
trip_duration_seconds     int64
from_station_name        object
to_station_name          object
user_type                object
dtype: object
Index(['trip_start_time', 'start_station_code', 'trip_stop_time',
       'end_station_code', 'trip_duration_seconds', 'membership_type', 'city'],
      dtype='object')
(663488, 7)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
0
False
-----------------------------------------------------------------------------------
feather-data/toronto_2017Q4.feather
Index(['trip_id', 'trip_start_time', 'trip_stop_time', 'trip_duration_seconds',
       'from_station_name', 'to_station_name', 'user_type'],
      dtype='object')
(363404, 7)
trip_id                   int64
trip_start_time          object
trip_stop_time           object
trip_duration_seconds     int64
from_station_name        object
to_station_name          object
user_type                object
dtype: object
Index(['trip_start_time', 'start_station_code', 'trip_stop_time',
       'end_station_code', 'trip_duration_seconds', 'membership_type', 'city'],
      dtype='object')
(363404, 7)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
0
False
-----------------------------------------------------------------------------------

### MONTREAL

In [250]:
zipped_files = subprocess.getoutput('ls feather-data/*.zip').split('\n')
zipped_files

['feather-data/BixiMontrealRentals2014.zip',
 'feather-data/BixiMontrealRentals2015.zip',
 'feather-data/BixiMontrealRentals2016.zip',
 'feather-data/BixiMontrealRentals2017.zip',
 'feather-data/BixiMontrealRentals2018.zip']

In [251]:
for zip_file in zipped_files:
    pzf = PyZipFile(zip_file)
    pzf.extractall('./feather-data')

In [252]:
!ls feather-data

2017                        OD_2018-08.csv
BixiMontrealRentals2014     OD_2018-09.csv
BixiMontrealRentals2014.zip OD_2018-10.csv
BixiMontrealRentals2015     OD_2018-11.csv
BixiMontrealRentals2015.zip Stations_2018.csv
BixiMontrealRentals2016     tor_stations.feather
BixiMontrealRentals2016.zip toronto_2016Q3.feather
BixiMontrealRentals2017.zip toronto_2016Q4.feather
BixiMontrealRentals2018.zip toronto_2017Q1.feather
OD_2018-04.csv              toronto_2017Q2.feather
OD_2018-05.csv              toronto_2017Q3.feather
OD_2018-06.csv              toronto_2017Q4.feather
OD_2018-07.csv

In [253]:
# move extracted files from individual folders into data folder
! mv feather-data/BixiMontrealRentals2014/*.* feather-data
! mv feather-data/BixiMontrealRentals2015/*.* feather-data
! mv feather-data/BixiMontrealRentals2016/*.* feather-data
! mv feather-data/2017/*.* feather-data

In [256]:
!ls feather-data/*.csv

feather-data/OD_2014-04.csv    feather-data/OD_2016-11.csv
feather-data/OD_2014-05.csv    feather-data/OD_2017-04.csv
feather-data/OD_2014-06.csv    feather-data/OD_2017-05.csv
feather-data/OD_2014-07.csv    feather-data/OD_2017-06.csv
feather-data/OD_2014-08.csv    feather-data/OD_2017-07.csv
feather-data/OD_2014-09.csv    feather-data/OD_2017-08.csv
feather-data/OD_2014-10.csv    feather-data/OD_2017-09.csv
feather-data/OD_2014-11.csv    feather-data/OD_2017-10.csv
feather-data/OD_2015-04.csv    feather-data/OD_2017-11.csv
feather-data/OD_2015-05.csv    feather-data/OD_2018-04.csv
feather-data/OD_2015-06.csv    feather-data/OD_2018-05.csv
feather-data/OD_2015-07.csv    feather-data/OD_2018-06.csv
feather-data/OD_2015-08.csv    feather-data/OD_2018-07.csv
feather-data/OD_2015-09.csv    feather-data/OD_2018-08.csv
feather-data/OD_2015-10.csv    feather-data/OD_2018-09.csv
feather-data/OD_2015-11.csv    feather-data/OD_2018-10.csv
feather-data/OD_2016-04.csv    feather-data/OD_2018-11.csv
feather-data/OD_2016-05.csv    feather-data/Stations_2014.csv
feather-data/OD_2016-06.csv    feather-data/Stations_2015.csv
feather-data/OD_2016-07.csv    feather-data/Stations_2016.csv
feather-data/OD_2016-08.csv    feather-data/Stations_2017.csv
feather-data/OD_2016-09.csv    feather-data/Stations_2018.csv
feather-data/OD_2016-10.csv

In [257]:
for fname in os.listdir('feather-data/'):
    if fname.startswith('OD'):
        os.rename(f'feather-data/{fname}', f'feather-data/{fname}'.replace('feather-data/OD', 'feather-data/montreal'))

In [258]:
!ls feather-data/*.csv

feather-data/Stations_2014.csv    feather-data/montreal_2016-06.csv
feather-data/Stations_2015.csv    feather-data/montreal_2016-07.csv
feather-data/Stations_2016.csv    feather-data/montreal_2016-08.csv
feather-data/Stations_2017.csv    feather-data/montreal_2016-09.csv
feather-data/Stations_2018.csv    feather-data/montreal_2016-10.csv
feather-data/montreal_2014-04.csv feather-data/montreal_2016-11.csv
feather-data/montreal_2014-05.csv feather-data/montreal_2017-04.csv
feather-data/montreal_2014-06.csv feather-data/montreal_2017-05.csv
feather-data/montreal_2014-07.csv feather-data/montreal_2017-06.csv
feather-data/montreal_2014-08.csv feather-data/montreal_2017-07.csv
feather-data/montreal_2014-09.csv feather-data/montreal_2017-08.csv
feather-data/montreal_2014-10.csv feather-data/montreal_2017-09.csv
feather-data/montreal_2014-11.csv feather-data/montreal_2017-10.csv
feather-data/montreal_2015-04.csv feather-data/montreal_2017-11.csv
feather-data/montreal_2015-05.csv feather-data/montreal_2018-04.csv
feather-data/montreal_2015-06.csv feather-data/montreal_2018-05.csv
feather-data/montreal_2015-07.csv feather-data/montreal_2018-06.csv
feather-data/montreal_2015-08.csv feather-data/montreal_2018-07.csv
feather-data/montreal_2015-09.csv feather-data/montreal_2018-08.csv
feather-data/montreal_2015-10.csv feather-data/montreal_2018-09.csv
feather-data/montreal_2015-11.csv feather-data/montreal_2018-10.csv
feather-data/montreal_2016-04.csv feather-data/montreal_2018-11.csv
feather-data/montreal_2016-05.csv

In [259]:
for fname in os.listdir('feather-data/'):
    if fname.startswith('S'):
        os.rename(f'feather-data/{fname}', f'feather-data/{fname}'.replace('feather-data/Stations', 'feather-data/montreal_stations'))

In [260]:
!ls feather-data/*.csv

feather-data/montreal_2014-04.csv       feather-data/montreal_2016-11.csv
feather-data/montreal_2014-05.csv       feather-data/montreal_2017-04.csv
feather-data/montreal_2014-06.csv       feather-data/montreal_2017-05.csv
feather-data/montreal_2014-07.csv       feather-data/montreal_2017-06.csv
feather-data/montreal_2014-08.csv       feather-data/montreal_2017-07.csv
feather-data/montreal_2014-09.csv       feather-data/montreal_2017-08.csv
feather-data/montreal_2014-10.csv       feather-data/montreal_2017-09.csv
feather-data/montreal_2014-11.csv       feather-data/montreal_2017-10.csv
feather-data/montreal_2015-04.csv       feather-data/montreal_2017-11.csv
feather-data/montreal_2015-05.csv       feather-data/montreal_2018-04.csv
feather-data/montreal_2015-06.csv       feather-data/montreal_2018-05.csv
feather-data/montreal_2015-07.csv       feather-data/montreal_2018-06.csv
feather-data/montreal_2015-08.csv       feather-data/montreal_2018-07.csv
feather-data/montreal_2015-09.csv       feather-data/montreal_2018-08.csv
feather-data/montreal_2015-10.csv       feather-data/montreal_2018-09.csv
feather-data/montreal_2015-11.csv       feather-data/montreal_2018-10.csv
feather-data/montreal_2016-04.csv       feather-data/montreal_2018-11.csv
feather-data/montreal_2016-05.csv       feather-data/montreal_stations_2014.csv
feather-data/montreal_2016-06.csv       feather-data/montreal_stations_2015.csv
feather-data/montreal_2016-07.csv       feather-data/montreal_stations_2016.csv
feather-data/montreal_2016-08.csv       feather-data/montreal_stations_2017.csv
feather-data/montreal_2016-09.csv       feather-data/montreal_stations_2018.csv
feather-data/montreal_2016-10.csv

In [262]:
csv_files = subprocess.getoutput('ls feather-data/*.csv').split('\n')
csv_files

['feather-data/montreal_2014-04.csv',
 'feather-data/montreal_2014-05.csv',
 'feather-data/montreal_2014-06.csv',
 'feather-data/montreal_2014-07.csv',
 'feather-data/montreal_2014-08.csv',
 'feather-data/montreal_2014-09.csv',
 'feather-data/montreal_2014-10.csv',
 'feather-data/montreal_2014-11.csv',
 'feather-data/montreal_2015-04.csv',
 'feather-data/montreal_2015-05.csv',
 'feather-data/montreal_2015-06.csv',
 'feather-data/montreal_2015-07.csv',
 'feather-data/montreal_2015-08.csv',
 'feather-data/montreal_2015-09.csv',
 'feather-data/montreal_2015-10.csv',
 'feather-data/montreal_2015-11.csv',
 'feather-data/montreal_2016-04.csv',
 'feather-data/montreal_2016-05.csv',
 'feather-data/montreal_2016-06.csv',
 'feather-data/montreal_2016-07.csv',
 'feather-data/montreal_2016-08.csv',
 'feather-data/montreal_2016-09.csv',
 'feather-data/montreal_2016-10.csv',
 'feather-data/montreal_2016-11.csv',
 'feather-data/montreal_2017-04.csv',
 'feather-data/montreal_2017-05.csv',
 'feather-data/montreal_2017-06.csv',
 'feather-data/montreal_2017-07.csv',
 'feather-data/montreal_2017-08.csv',
 'feather-data/montreal_2017-09.csv',
 'feather-data/montreal_2017-10.csv',
 'feather-data/montreal_2017-11.csv',
 'feather-data/montreal_2018-04.csv',
 'feather-data/montreal_2018-05.csv',
 'feather-data/montreal_2018-06.csv',
 'feather-data/montreal_2018-07.csv',
 'feather-data/montreal_2018-08.csv',
 'feather-data/montreal_2018-09.csv',
 'feather-data/montreal_2018-10.csv',
 'feather-data/montreal_2018-11.csv',
 'feather-data/montreal_stations_2014.csv',
 'feather-data/montreal_stations_2015.csv',
 'feather-data/montreal_stations_2016.csv',
 'feather-data/montreal_stations_2017.csv',
 'feather-data/montreal_stations_2018.csv']

In [263]:
for file in csv_files:
    csvtofeather(file)

feather-data/montreal_2014-04.csv
feather-data/montreal_2014-04.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/montreal_2014-05.csv
feather-data/montreal_2014-05.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(455261, 6)
False
feather-data/montreal_2014-06.csv
feather-data/montreal_2014-06.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(525863, 6)
False
feather-data/montreal_2014-07.csv
feather-data/montreal_2014-07.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(569352, 6)
False
feather-data/montreal_2014-08.csv
feather-data/montreal_2014-08.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(556780, 6)
False
feather-data/montreal_2014-09.csv
feather-data/montreal_2014-09.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(477545, 6)
False
feather-data/montreal_2014-10.csv
feather-data/montreal_2014-10.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(331818, 6)
False
feather-data/montreal_2014-11.csv
feather-data/montreal_2014-11.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(111393, 6)
False
feather-data/montreal_2015-04.csv
feather-data/montreal_2015-04.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(150271, 6)
False
feather-data/montreal_2015-05.csv
feather-data/montreal_2015-05.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(545678, 6)
False
feather-data/montreal_2015-06.csv
feather-data/montreal_2015-06.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(547238, 6)
False
feather-data/montreal_2015-07.csv
feather-data/montreal_2015-07.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(620865, 6)
False
feather-data/montreal_2015-08.csv
feather-data/montreal_2015-08.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(597505, 6)
False
feather-data/montreal_2015-09.csv
feather-data/montreal_2015-09.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(523322, 6)
False
feather-data/montreal_2015-10.csv
feather-data/montreal_2015-10.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(332597, 6)
False
feather-data/montreal_2015-11.csv
feather-data/montreal_2015-11.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(126407, 6)
False
feather-data/montreal_2016-04.csv
feather-data/montreal_2016-04.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(194514, 6)
False
feather-data/montreal_2016-05.csv
feather-data/montreal_2016-05.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(573739, 6)
False
feather-data/montreal_2016-06.csv
feather-data/montreal_2016-06.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(645448, 6)
False
feather-data/montreal_2016-07.csv
feather-data/montreal_2016-07.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(716335, 6)
False
feather-data/montreal_2016-08.csv
feather-data/montreal_2016-08.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(688174, 6)
False
feather-data/montreal_2016-09.csv
feather-data/montreal_2016-09.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(632218, 6)
False
feather-data/montreal_2016-10.csv
feather-data/montreal_2016-10.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(397707, 6)
False
feather-data/montreal_2016-11.csv
feather-data/montreal_2016-11.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(151945, 6)
False
feather-data/montreal_2017-04.csv
feather-data/montreal_2017-04.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(196327, 6)
False
feather-data/montreal_2017-05.csv
feather-data/montreal_2017-05.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(589852, 6)
False
feather-data/montreal_2017-06.csv
feather-data/montreal_2017-06.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(748078, 6)
False
feather-data/montreal_2017-07.csv
feather-data/montreal_2017-07.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(877338, 6)
False
feather-data/montreal_2017-08.csv
feather-data/montreal_2017-08.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(859471, 6)
False
feather-data/montreal_2017-09.csv
feather-data/montreal_2017-09.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(747633, 6)
False
feather-data/montreal_2017-10.csv
feather-data/montreal_2017-10.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(569930, 6)
False
feather-data/montreal_2017-11.csv
feather-data/montreal_2017-11.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(151728, 6)
False
feather-data/montreal_2018-04.csv
feather-data/montreal_2018-04.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(236982, 6)
False
feather-data/montreal_2018-05.csv
feather-data/montreal_2018-05.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(811910, 6)
False
feather-data/montreal_2018-06.csv
feather-data/montreal_2018-06.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(888470, 6)
False
feather-data/montreal_2018-07.csv
feather-data/montreal_2018-07.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(953031, 6)
False
feather-data/montreal_2018-08.csv
feather-data/montreal_2018-08.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(956790, 6)
False
feather-data/montreal_2018-09.csv
feather-data/montreal_2018-09.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(797520, 6)
False
feather-data/montreal_2018-10.csv
feather-data/montreal_2018-10.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(488490, 6)
False
feather-data/montreal_2018-11.csv
feather-data/montreal_2018-11.csv
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(144348, 6)
False
feather-data/montreal_stations_2014.csv
feather-data/montreal_stations_2014.csv
Index(['code', 'name', 'latitude', 'longitude'], dtype='object')
(459, 4)
False
feather-data/montreal_stations_2015.csv
feather-data/montreal_stations_2015.csv
Index(['code', 'name', 'latitude', 'longitude'], dtype='object')
(460, 4)
False
feather-data/montreal_stations_2016.csv
feather-data/montreal_stations_2016.csv
Index(['code', 'name', 'latitude', 'longitude'], dtype='object')
(465, 4)
False
feather-data/montreal_stations_2017.csv
feather-data/montreal_stations_2017.csv
Index(['code', 'name', 'latitude', 'longitude'], dtype='object')
(546, 4)
False
feather-data/montreal_stations_2018.csv
feather-data/montreal_stations_2018.csv
Index(['code', 'name', 'latitude', 'longitude'], dtype='object')
(552, 4)
False

In [305]:
mtl_st_files = subprocess.getoutput('ls feather-data/m*s*.feather').split('\n')
mtl_st_files

['feather-data/montreal_stations_2014.feather',
 'feather-data/montreal_stations_2015.feather',
 'feather-data/montreal_stations_2016.feather',
 'feather-data/montreal_stations_2017.feather',
 'feather-data/montreal_stations_2018.feather']

In [306]:
df = feather.read_feather('feather-data/montreal_stations_2017.feather')
df.head()

   code                            name   latitude  longitude
0  7015             LaSalle / 4e avenue  45.430740 -73.591911
1  6714               LaSalle / Sénécal  45.434434 -73.586694
2  6712              LaSalle / Crawford  45.437914 -73.582740
3  6715  Natatorium (LaSalle / Rolland)  45.444408 -73.575568
4  7048                 Métro Angrignon  45.446534 -73.603541

In [307]:
mtl_stations = pd.DataFrame()
for file in mtl_st_files:
    mtl_stations = pd.concat([mtl_stations, feather.read_feather(file)], axis = 0, sort = False)

mtl_stations.head()

   code                      name   latitude  longitude
0  6209            Milton / Clark  45.512520 -73.570620
1  6436  Côte St-Antoine / Clarke  45.486452 -73.595234
2  6214           Square St-Louis  45.517350 -73.569060
3  6248     St-Dominique / Rachel  45.518593 -73.581566
4  6164        Chambord / Laurier  45.532955 -73.584194

In [308]:
mtl_stations.drop_duplicates('code', keep = 'first', inplace = True)
mtl_stations.reset_index(drop = True, inplace = True)

mtl_stations['city'] = 'mtl'
mtl_stations['code'] = mtl_stations.code.astype('str')

mtl_stations.head()

   code                      name   latitude  longitude city
0  6209            Milton / Clark  45.512520 -73.570620  mtl
1  6436  Côte St-Antoine / Clarke  45.486452 -73.595234  mtl
2  6214           Square St-Louis  45.517350 -73.569060  mtl
3  6248     St-Dominique / Rachel  45.518593 -73.581566  mtl
4  6164        Chambord / Laurier  45.532955 -73.584194  mtl

In [309]:
mtl_stations.isna().values.any()

False

In [310]:
mtl_stations.dtypes

code          object
name          object
latitude     float64
longitude    float64
city          object
dtype: object

In [311]:
mtl_stations.rename(columns = {'name':'intersection'}, inplace = True)
mtl_stations['intersection'] = mtl_stations.intersection.str.replace('/', '&')

mtl_stations.columns

Index(['code', 'intersection', 'latitude', 'longitude', 'city'], dtype='object')

In [312]:
# take another look at addresses that are not intersections
pattern = re.compile("^((?!&).)*$")
for addr in mtl_stations.intersection:
    m = pattern.search(addr)
    if m is not None:
        print(m.group(0))

Square St-Louis
Parc Jeanne Mance (monument George-Étienne Cartier)
Quai de la navette fluviale
Square Phillips
Square Victoria
Square Phillips 2
Métro Longueuil - Université de Sherbrooke
Collège Édouard-Montpetit
Victoria Hall
Parc Plage
Marché Maisonneuve
Hôpital général juif
Place Longueuil
Marché Atwater
Place du Commerce
Complexe sportif Claude-Robillard (Émile-Journault)
Métro Jean-Drapeau
Casino de Montréal
La Ronde
Métro Angrignon
Édouard-Montpetit (Université de Montréal)
Gare Canora
Parc Plage

In [313]:
feather.write_feather(mtl_stations, 'feather-data/mtl_stations.feather')

In [46]:
df = feather.read_feather('feather-data/montreal_2018-11.feather')
df.head()

,start_date,start_station_code,end_date,end_station_code,duration_sec,is_member
0,2018-11-01 00:00,6280,2018-11-01 00:14,6197,838,0
1,2018-11-01 00:00,6175,2018-11-01 00:06,6117,346,1
2,2018-11-01 00:00,6401,2018-11-01 00:16,6104,963,1
3,2018-11-01 00:01,7069,2018-11-01 00:11,6112,582,1
4,2018-11-01 00:01,6080,2018-11-01 00:09,6724,459,1

In [49]:
def clean_mtl(fnames):
    for f in fnames:
        dft = feather.read_feather(f)
        print(f)
        print(dft.dtypes)
        print(dft.shape)
        print(dft.isna().values.any())
        
        dft['city'] = 'mtl'
        dft.columns = ['trip_start_time', 'start_station_code', 'trip_stop_time', 
                       'end_station_code', 'trip_duration_seconds', 'membership_type', 'city']
        
        dft['trip_start_time'] = pd.to_datetime(dft.trip_start_time)
        dft['trip_stop_time'] = pd.to_datetime(dft.trip_stop_time)
        
        dft['start_station_code'] = dft.start_station_code.astype('str')
        dft['end_station_code'] = dft.end_station_code.astype('str')
        dft['membership_type'] = dft.membership_type.astype('str')

        print(dft.dtypes)
        print(dft.shape)

        print(len(dft.query('trip_duration_seconds == 0')))
        print(dft.isnull().values.any())
        
        feather.write_feather(dft, f)

In [50]:
mtl_files = subprocess.getoutput('ls feather-data/m*.feather').split('\n')
mtl_files[:-6]

['feather-data/montreal_2014-04.feather',
 'feather-data/montreal_2014-05.feather',
 'feather-data/montreal_2014-06.feather',
 'feather-data/montreal_2014-07.feather',
 'feather-data/montreal_2014-08.feather',
 'feather-data/montreal_2014-09.feather',
 'feather-data/montreal_2014-10.feather',
 'feather-data/montreal_2014-11.feather',
 'feather-data/montreal_2015-04.feather',
 'feather-data/montreal_2015-05.feather',
 'feather-data/montreal_2015-06.feather',
 'feather-data/montreal_2015-07.feather',
 'feather-data/montreal_2015-08.feather',
 'feather-data/montreal_2015-09.feather',
 'feather-data/montreal_2015-10.feather',
 'feather-data/montreal_2015-11.feather',
 'feather-data/montreal_2016-04.feather',
 'feather-data/montreal_2016-05.feather',
 'feather-data/montreal_2016-06.feather',
 'feather-data/montreal_2016-07.feather',
 'feather-data/montreal_2016-08.feather',
 'feather-data/montreal_2016-09.feather',
 'feather-data/montreal_2016-10.feather',
 'feather-data/montreal_2016-11.feather',
 'feather-data/montreal_2017-04.feather',
 'feather-data/montreal_2017-05.feather',
 'feather-data/montreal_2017-06.feather',
 'feather-data/montreal_2017-07.feather',
 'feather-data/montreal_2017-08.feather',
 'feather-data/montreal_2017-09.feather',
 'feather-data/montreal_2017-10.feather',
 'feather-data/montreal_2017-11.feather',
 'feather-data/montreal_2018-04.feather',
 'feather-data/montreal_2018-05.feather',
 'feather-data/montreal_2018-06.feather',
 'feather-data/montreal_2018-07.feather',
 'feather-data/montreal_2018-08.feather',
 'feather-data/montreal_2018-09.feather',
 'feather-data/montreal_2018-10.feather',
 'feather-data/montreal_2018-11.feather']

In [51]:
clean_mtl(mtl_files[:-6])

feather-data/montreal_2014-04.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(108264, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(108264, 7)
0
False
feather-data/montreal_2014-05.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(455261, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(455261, 7)
0
False
feather-data/montreal_2014-06.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(525863, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(525863, 7)
0
False
feather-data/montreal_2014-07.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(569352, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(569352, 7)
0
False
feather-data/montreal_2014-08.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(556780, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(556780, 7)
0
False
feather-data/montreal_2014-09.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(477545, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(477545, 7)
0
False
feather-data/montreal_2014-10.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(331818, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(331818, 7)
0
False
feather-data/montreal_2014-11.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(111393, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(111393, 7)
0
False
feather-data/montreal_2015-04.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(150271, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(150271, 7)
0
False
feather-data/montreal_2015-05.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(545678, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(545678, 7)
0
False
feather-data/montreal_2015-06.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(547238, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(547238, 7)
0
False
feather-data/montreal_2015-07.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(620865, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(620865, 7)
0
False
feather-data/montreal_2015-08.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(597505, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(597505, 7)
0
False
feather-data/montreal_2015-09.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(523322, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(523322, 7)
0
False
feather-data/montreal_2015-10.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(332597, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(332597, 7)
0
False
feather-data/montreal_2015-11.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(126407, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(126407, 7)
0
False
feather-data/montreal_2016-04.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(194514, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(194514, 7)
0
False
feather-data/montreal_2016-05.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(573739, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(573739, 7)
0
False
feather-data/montreal_2016-06.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(645448, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(645448, 7)
0
False
feather-data/montreal_2016-07.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(716335, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(716335, 7)
0
False
feather-data/montreal_2016-08.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(688174, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(688174, 7)
0
False
feather-data/montreal_2016-09.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(632218, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(632218, 7)
0
False
feather-data/montreal_2016-10.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(397707, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(397707, 7)
0
False
feather-data/montreal_2016-11.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(151945, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(151945, 7)
0
False
feather-data/montreal_2017-04.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(196327, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(196327, 7)
0
False
feather-data/montreal_2017-05.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(589852, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(589852, 7)
0
False
feather-data/montreal_2017-06.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(748078, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(748078, 7)
0
False
feather-data/montreal_2017-07.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(877338, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(877338, 7)
0
False
feather-data/montreal_2017-08.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(859471, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(859471, 7)
0
False
feather-data/montreal_2017-09.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(747633, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(747633, 7)
0
False
feather-data/montreal_2017-10.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(569930, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(569930, 7)
0
False
feather-data/montreal_2017-11.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(151728, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(151728, 7)
0
False
feather-data/montreal_2018-04.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(236982, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(236982, 7)
0
False
feather-data/montreal_2018-05.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(811910, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(811910, 7)
0
False
feather-data/montreal_2018-06.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(888470, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(888470, 7)
0
False
feather-data/montreal_2018-07.feather
start_date            object
start_station_code     int64
end_date              object
end_station_code       int64
duration_sec           int64
is_member              int64
dtype: object
(953031, 6)
False
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64

### Vancouver

In [329]:
for fname in os.listdir('feather-data/'):
    if fname.startswith('Mobi'):
        os.rename(f'feather-data/{fname}', f'feather-data/{fname}'.replace('feather-data/Mobi_System_Data', 'feather-data/vancouver'))

xlsx_files = subprocess.getoutput('ls feather-data/*.xlsx').split('\n')
xlsx_files

['feather-data/vancouver_2017.xlsx',
 'feather-data/vancouver_2018-01.xlsx',
 'feather-data/vancouver_2018-02.xlsx',
 'feather-data/vancouver_2018-03.xlsx',
 'feather-data/vancouver_2018-04.xlsx',
 'feather-data/vancouver_2018-05.xlsx',
 'feather-data/vancouver_2018-06.xlsx',
 'feather-data/vancouver_2018-07.xlsx',
 'feather-data/vancouver_2018-08.xlsx',
 'feather-data/vancouver_2018-09.xlsx',
 'feather-data/vancouver_2018-10.xlsx',
 'feather-data/vancouver_2018-11.xlsx']

In [330]:
for file in xlsx_files:
    xlsxtofeather(file)

feather-data/vancouver_2017.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-01.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-02.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-03.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-04.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-05.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-06.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-07.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-08.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-09.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-10.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False
feather-data/vancouver_2018-11.xlsx
Index(['start_date', 'start_station_code', 'end_date', 'end_station_code',
       'duration_sec', 'is_member'],
      dtype='object')
(108264, 6)
False

In [332]:
csv_files = subprocess.getoutput('ls feather-data/*.csv').split('\n')
csv_files

['feather-data/vancouver_2018-12.csv',
 'feather-data/vancouver_2019-01.csv',
 'feather-data/vancouver_2019-02.csv',
 'feather-data/vancouver_2019-03.csv']

In [333]:
for file in csv_files:
    csvtofeather(file)

feather-data/vancouver_2018-12.csv
feather-data/vancouver_2018-12.csv
Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (C)',
       'Return temperature (C)', 'Stopover duration (sec.)',
       'Number of stopovers'],
      dtype='object')
(27581, 15)
True
feather-data/vancouver_2019-01.csv

/usr/local/miniconda3/envs/py37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3214: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

feather-data/vancouver_2019-01.csv
Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (C)',
       'Return temperature (C)', 'Stopover duration', 'Number of stopovers',
       'Manager'],
      dtype='object')
(36750, 16)
True
feather-data/vancouver_2019-02.csv
feather-data/vancouver_2019-02.csv
Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership Type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (C)',
       'Return temperature (C)', 'Stopover duration', 'Number of stopovers'],
      dtype='object')
(26103, 15)
True
feather-data/vancouver_2019-03.csv
feather-data/vancouver_2019-03.csv
Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (C)',
       'Return temperature (C)', 'Stopover duration (sec.)',
       'Number of stopovers', 'Manager'],
      dtype='object')
(57459, 16)
True

In [334]:
csv_files

['feather-data/vancouver_2018-12.csv',
 'feather-data/vancouver_2019-01.csv',
 'feather-data/vancouver_2019-02.csv',
 'feather-data/vancouver_2019-03.csv']

In [374]:
df = feather.read_feather('feather-data/vancouver_2018-12.feather')
df = df[(~df["Return"].isnull())]
print(df["Return"].isna().values.any())

False

In [383]:
! ls feather-data/v*.f*

feather-data/vancouver_2017.feather    feather-data/vancouver_2018-08.feather
feather-data/vancouver_2018-01.feather feather-data/vancouver_2018-09.feather
feather-data/vancouver_2018-02.feather feather-data/vancouver_2018-10.feather
feather-data/vancouver_2018-03.feather feather-data/vancouver_2018-11.feather
feather-data/vancouver_2018-04.feather feather-data/vancouver_2018-12.feather
feather-data/vancouver_2018-05.feather feather-data/vancouver_2019-01.feather
feather-data/vancouver_2018-06.feather feather-data/vancouver_2019-02.feather
feather-data/vancouver_2018-07.feather feather-data/vancouver_2019-03.feather

In [386]:
df = feather.read_feather('feather-data/vancouver_2017.feather')
df = df[df['Duration (sec.)'] != 0]

(573706, 15)

In [393]:
df.dtypes

Departure                         datetime64[ns]
Return                            datetime64[ns]
Account                                   object
Bike                                     float64
Departure station                         object
Return station                            object
Membership type                           object
Covered distance (m)                     float64
Duration (sec.)                            int64
Departure battery voltage (mV)             int64
Return battery voltage (mV)                int64
Departure temperature (°C)                 int64
Return temperature (°C)                    int64
Stopover duration (sec.)                   int64
Number of stopovers                        int64
dtype: object

In [395]:
van_files = subprocess.getoutput('ls feather-data/v*.feather').split('\n')
van_files

['feather-data/vancouver_2017.feather',
 'feather-data/vancouver_2018-01.feather',
 'feather-data/vancouver_2018-02.feather',
 'feather-data/vancouver_2018-03.feather',
 'feather-data/vancouver_2018-04.feather',
 'feather-data/vancouver_2018-05.feather',
 'feather-data/vancouver_2018-06.feather',
 'feather-data/vancouver_2018-07.feather',
 'feather-data/vancouver_2018-08.feather',
 'feather-data/vancouver_2018-09.feather',
 'feather-data/vancouver_2018-10.feather',
 'feather-data/vancouver_2018-11.feather',
 'feather-data/vancouver_2018-12.feather',
 'feather-data/vancouver_2019-01.feather',
 'feather-data/vancouver_2019-02.feather',
 'feather-data/vancouver_2019-03.feather']

In [397]:
list_stations_all = []

for file in van_files:
    print(file)
    df = feather.read_feather(file)
    print(df.shape)
    
    df = df[df['Duration (sec.)'] != 0]
    print(df.shape)
    
    stations_set = df[['Departure station', 'Return station']].values.ravel()
    list_stations_all.extend(stations_set)
    
    feather.write_feather(df, file)

feather-data/vancouver_2017.feather
(573706, 15)
(573538, 15)
feather-data/vancouver_2018-01.feather
(20392, 15)
(20391, 15)
feather-data/vancouver_2018-02.feather
(22264, 15)
(22257, 15)
feather-data/vancouver_2018-03.feather
(36804, 15)
(36802, 15)
feather-data/vancouver_2018-04.feather
(42653, 15)
(42641, 15)
feather-data/vancouver_2018-05.feather
(88514, 15)
(88491, 15)
feather-data/vancouver_2018-06.feather
(87458, 15)
(87435, 15)
feather-data/vancouver_2018-07.feather
(114420, 15)
(114368, 15)
feather-data/vancouver_2018-08.feather
(111014, 15)
(110994, 15)
feather-data/vancouver_2018-09.feather
(77479, 17)
(77451, 17)
feather-data/vancouver_2018-10.feather
(65291, 15)
(65219, 15)
feather-data/vancouver_2018-11.feather
(39248, 15)
(39230, 15)
feather-data/vancouver_2018-12.feather
(27580, 15)
(27563, 15)
feather-data/vancouver_2019-01.feather
(36750, 16)
(36725, 16)
feather-data/vancouver_2019-02.feather
(26103, 15)
(26095, 15)
feather-data/vancouver_2019-03.feather
(57459, 16)
(57442, 16)

In [399]:
len(list_stations_all)

2853284

In [429]:
van_stations_set = set(list_stations_all)
van_stations = pd.DataFrame(van_stations_set, columns = ['intersection'])
van_stations['city'] = 'van'
van_stations.head()

                intersection city
0       0278 15th & Victoria  van
1        0273 Victoria & 4th  van
2           0171 5th & Yukon  van
3        0047 Chilco & Beach  van
4  0154 Kitsilano Beach Park  van

In [430]:
len(van_stations)

211

In [431]:
van_stations['code'], van_stations['intersection'] = van_stations['intersection'].str.split(' ', 1).str

In [432]:
van_stations = van_stations[['code', 'intersection', 'city']]
van_stations.head()

   code          intersection city
0  0278       15th & Victoria  van
1  0273        Victoria & 4th  van
2  0171           5th & Yukon  van
3  0047        Chilco & Beach  van
4  0154  Kitsilano Beach Park  van

In [441]:
van_stations = van_stations[(~van_stations['code'].isnull())]

In [443]:
van_stations.shape

(210, 3)

In [444]:
van_inter = van_stations['intersection']

In [445]:
pattern = re.compile("^((?!&).)*$")
for addr in van_inter:
    m = pattern.search(addr)
    if m is not None:
        print(m.group(0))

Kitsilano Beach Park
station for tests
Coal Harbour Community Centre
David Lam Park - West
Stanley Park - Information Booth
Stanley Park - Vancouver Aquarium
Shaw Tower
Balancer Bike Check In
HQ Workshop
Aquatic Centre
Vanier Park
Olympic Village Station - Parking Lot
Britannia Parking Lot
Science World
Stanley Park - Second Beach South
WareHouse Workshop
Sunset Beach West
Creekside Park North
Vancouver Art Gallery - North Plaza
Canada Place
Temporary Events Station
Olympic Village Station
Stamp's Landing
Olympic Village Station
HQ Workshop
Stanley Park - Totem Poles
Granville Island Public Market
Yaletown-Roundhouse Station
Stanley Park - Second Beach North
Burrard Station
Bike Production
Smoove_test_4
Smoove_test_5
Balancer Bike Check In
Temporary Station - Marketing Events
South False Creek Seawall
Olympic Village Station

In [446]:
city = 'Vancouver'

latlong_list = geocode_city_intersection(van_inter, city, apikey)

In [448]:
len(latlong_list)

210

In [449]:
van_stations.reset_index(drop = True, inplace = True)
van_stations = pd.concat([van_stations, pd.DataFrame(latlong_list, columns=['latitude', 'longitude'])], axis = 1)
van_stations.head()

   code          intersection city   latitude   longitude
0  0278       15th & Victoria  van  49.249660 -123.119340
1  0273        Victoria & 4th  van  49.266851 -123.065820
2  0171           5th & Yukon  van  49.249660 -123.119340
3  0047        Chilco & Beach  van  49.292318 -123.139984
4  0154  Kitsilano Beach Park  van  49.249660 -123.119340

In [450]:
feather.write_feather(van_stations, 'feather-data/van_stations.feather')

In [472]:
def clean_van(fnames):
    
    for f in fnames:
        dft = feather.read_feather(f)
        print(f)
        print(dft.shape)
        
        dft['city'] = 'van'
        dft.columns = ['trip_start_time', 'trip_stop_time', 'account_id', 'bike_id', 
                       'start_station', 'end_station', 'membership_type', 'covered_distance_meters', 
                       'trip_duration_seconds', 'departure_battery_voltage_millivolts', 'return_battery_voltage_millivolts', 
                       'departure_temperature_celsius', 'return_temperature_celsius', 'stopover_duration_seconds', 
                       'number_of_stopovers', 'city']

        dft['start_station_code'], dft['start_station'] = dft['start_station'].str.split(' ', 1).str
        dft['end_station_code'], dft['end_station'] = dft['end_station'].str.split(' ', 1).str

        dft['trip_start_time'] = pd.to_datetime(dft.trip_start_time)
        dft['trip_stop_time'] = pd.to_datetime(dft.trip_stop_time)
        
        feather.write_feather(dft, '_'.join([f.split('.')[0], 'xtr']) + '.feather')

        dft.membership_type = np.where((dft.membership_type == "24 Hour") | (dft.membership_type == "Archived Day"), '0', '1')

        dft = dft[['trip_start_time', 'start_station_code', 'trip_stop_time', 
                                   'end_station_code', 'trip_duration_seconds', 'membership_type', 'city']]

        print(dft.dtypes)
        print(dft.shape)
        feather.write_feather(dft, f)

In [473]:
van_files = subprocess.getoutput('ls feather-data/v*.feather').split('\n')
van_files[1:]

['feather-data/vancouver_2017.feather',
 'feather-data/vancouver_2018-01.feather',
 'feather-data/vancouver_2018-02.feather',
 'feather-data/vancouver_2018-03.feather',
 'feather-data/vancouver_2018-04.feather',
 'feather-data/vancouver_2018-05.feather',
 'feather-data/vancouver_2018-06.feather',
 'feather-data/vancouver_2018-07.feather',
 'feather-data/vancouver_2018-08.feather',
 'feather-data/vancouver_2018-09.feather',
 'feather-data/vancouver_2018-10.feather',
 'feather-data/vancouver_2018-11.feather',
 'feather-data/vancouver_2018-12.feather',
 'feather-data/vancouver_2019-01.feather',
 'feather-data/vancouver_2019-02.feather',
 'feather-data/vancouver_2019-03.feather']

clean_van(van_files[1:])

feather-data/vancouver_2017.feather
(573538, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(573538, 7)
feather-data/vancouver_2018-01.feather
(20391, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(20391, 7)
feather-data/vancouver_2018-02.feather
(22257, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(22257, 7)
feather-data/vancouver_2018-03.feather
(36802, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(36802, 7)
feather-data/vancouver_2018-04.feather
(42641, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(42641, 7)
feather-data/vancouver_2018-05.feather
(88491, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(88491, 7)
feather-data/vancouver_2018-06.feather
(87435, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(87435, 7)
feather-data/vancouver_2018-07.feather
(114368, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(114368, 7)
feather-data/vancouver_2018-08.feather
(110994, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(110994, 7)

In [475]:
# Stopped because of error in feather-data/vancouver_2018-09.feather

In [477]:
df = feather.read_feather('feather-data/vancouver_2018-09.feather')
df.columns

Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (°C)',
       'Return temperature (°C)', 'Departure slot', 'Return slot',
       'Stopover duration (sec.)', 'Number of stopovers'],
      dtype='object')

In [478]:
df.drop(['Departure slot', 'Return slot'], axis = 1, inplace = True)

In [480]:
feather.write_feather(df, 'feather-data/vancouver_2018-09.feather')

In [483]:
df = feather.read_feather('feather-data/vancouver_2018-10.feather')
df.columns

Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership Type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (°C)',
       'Return temperature (°C)', 'Stopover duration (sec.)',
       'Number of stopovers'],
      dtype='object')

In [484]:
df = feather.read_feather('feather-data/vancouver_2018-11.feather')
df.columns

Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (deg C)',
       'Return temperature (deg C)', 'Stopover duration (sec.)',
       'Number of stopovers'],
      dtype='object')

In [485]:
df = feather.read_feather('feather-data/vancouver_2018-12.feather')
df.columns

Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (C)',
       'Return temperature (C)', 'Stopover duration (sec.)',
       'Number of stopovers'],
      dtype='object')

In [488]:
df = feather.read_feather('feather-data/vancouver_2019-01.feather')
df.columns

Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (C)',
       'Return temperature (C)', 'Stopover duration', 'Number of stopovers',
       'Manager'],
      dtype='object')

In [489]:
df.drop(['Manager'], axis = 1, inplace = True)

In [492]:
feather.write_feather(df, 'feather-data/vancouver_2019-01.feather')

In [493]:
df = feather.read_feather('feather-data/vancouver_2019-02.feather')
df.columns

Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership Type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (C)',
       'Return temperature (C)', 'Stopover duration', 'Number of stopovers'],
      dtype='object')

In [494]:
df = feather.read_feather('feather-data/vancouver_2019-03.feather')
df.columns

Index(['Departure', 'Return', 'Account', 'Bike', 'Departure station',
       'Return station', 'Membership type', 'Covered distance (m)',
       'Duration (sec.)', 'Departure battery voltage (mV)',
       'Return battery voltage (mV)', 'Departure temperature (C)',
       'Return temperature (C)', 'Stopover duration (sec.)',
       'Number of stopovers', 'Manager'],
      dtype='object')

In [495]:
df.drop(['Manager'], axis = 1, inplace = True)

In [496]:
feather.write_feather(df, 'feather-data/vancouver_2019-03.feather')

In [500]:
van_files[10:]

['feather-data/vancouver_2018-09.feather',
 'feather-data/vancouver_2018-10.feather',
 'feather-data/vancouver_2018-11.feather',
 'feather-data/vancouver_2018-12.feather',
 'feather-data/vancouver_2019-01.feather',
 'feather-data/vancouver_2019-02.feather',
 'feather-data/vancouver_2019-03.feather']

In [501]:
clean_van(van_files[10:])

feather-data/vancouver_2018-09.feather
(77451, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(77451, 7)
feather-data/vancouver_2018-10.feather
(65219, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(65219, 7)
feather-data/vancouver_2018-11.feather
(39230, 15)
trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
(39230, 7)
feather-data/vancouver_2018-12.feather
(27563, 15)
trip_start_time          object
start_station_code       object
trip_stop_time           object
end_station_code         object
trip_duration_seconds     int64
membership_type          object
city                     object
dtype: object
(27563, 7)
feather-data/vancouver_2019-01.feather
(36725, 15)
trip_start_time          object
start_station_code       object
trip_stop_time           object
end_station_code         object
trip_duration_seconds     int64
membership_type          object
city                     object
dtype: object
(36725, 7)
feather-data/vancouver_2019-02.feather
(26095, 15)
trip_start_time          object
start_station_code       object
trip_stop_time           object
end_station_code         object
trip_duration_seconds     int64
membership_type          object
city                     object
dtype: object
(26095, 7)
feather-data/vancouver_2019-03.feather
(57442, 15)
trip_start_time          object
start_station_code       object
trip_stop_time           object
end_station_code         object
trip_duration_seconds     int64
membership_type          object
city                     object
dtype: object
(57442, 7)

In [53]:
def check_dates(fnames):
    for f in fnames:
        print(f)
        df = feather.read_feather(f)
        print(df[['trip_start_time', 'trip_stop_time']].describe())
        print('--------------------------------------------------')

In [511]:
check_dates(van_files[1:])

feather-data/vancouver_2017.feather
            trip_start_time       trip_stop_time
count                573538               573538
unique                 8476                 8474
top     2017-07-01 15:00:00  2017-07-05 18:00:00
freq                    402                  395
first   2017-01-01 00:00:00  2017-01-01 01:00:00
last    2018-01-01 00:00:00  2018-01-03 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-01.feather
            trip_start_time       trip_stop_time
count                 20391                20391
unique                  697                  696
top     2018-01-22 17:00:00  2018-01-10 09:00:00
freq                    132                  135
first   2018-01-01 00:00:00  2018-01-01 00:00:00
last    2018-02-01 00:00:00  2018-02-01 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-02.feather
            trip_start_time       trip_stop_time
count                 22257                22257
unique                  624                  629
top     2018-02-10 16:00:00  2018-02-10 16:00:00
freq                    149                  153
first   2018-02-01 00:00:00  2018-02-01 00:00:00
last    2018-03-01 00:00:00  2018-03-01 07:00:00
--------------------------------------------------
feather-data/vancouver_2018-03.feather
            trip_start_time       trip_stop_time
count                 36802                36802
unique                  702                  701
top     2018-03-11 15:00:00  2018-03-21 18:00:00
freq                    238                  227
first   2018-03-01 00:00:00  2018-03-01 00:00:00
last    2018-04-01 00:00:00  2018-04-01 11:00:00
--------------------------------------------------
feather-data/vancouver_2018-04.feather
            trip_start_time       trip_stop_time
count                 42641                42641
unique                  683                  688
top     2018-04-26 18:00:00  2018-04-26 18:00:00
freq                    316                  321
first   2018-04-01 00:00:00  2018-04-01 00:00:00
last    2018-05-01 00:00:00  2018-05-01 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-05.feather
            trip_start_time       trip_stop_time
count                 88491                88491
unique                  720                  726
top     2018-05-23 17:00:00  2018-05-26 17:00:00
freq                    385                  410
first   2018-05-01 00:00:00  2018-05-01 00:00:00
last    2018-06-01 00:00:00  2018-06-01 11:00:00
--------------------------------------------------
feather-data/vancouver_2018-06.feather
            trip_start_time       trip_stop_time
count                 87435                87435
unique                  704                  714
top     2018-06-26 17:00:00  2018-06-26 18:00:00
freq                    428                  443
first   2018-06-01 00:00:00  2018-06-01 00:00:00
last    2018-07-01 00:00:00  2018-07-03 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-07.feather
            trip_start_time       trip_stop_time
count                114368               114368
unique                  737                  737
top     2018-07-23 18:00:00  2018-07-23 18:00:00
freq                    442                  442
first   2018-07-01 00:00:00  2018-07-01 00:00:00
last    2018-08-01 00:00:00  2018-08-01 00:00:00
--------------------------------------------------
feather-data/vancouver_2018-08.feather
            trip_start_time       trip_stop_time
count                110994               110994
unique                  743                  754
top     2018-08-14 17:00:00  2018-08-14 17:00:00
freq                    475                  476
first   2018-08-01 00:00:00  2018-08-01 00:00:00
last    2018-09-01 00:00:00  2018-09-06 15:00:00
--------------------------------------------------
feather-data/vancouver_2018-09.feather
            trip_start_time       trip_stop_time
count                 77451                77451
unique                  715                  715
top     2018-09-17 17:00:00  2018-09-17 17:00:00
freq                    408                  409
first   2018-09-01 00:00:00  2018-09-01 00:00:00
last    2018-10-01 00:00:00  2018-10-01 13:00:00
--------------------------------------------------
feather-data/vancouver_2018-10.feather
            trip_start_time       trip_stop_time
count                 65219                65219
unique                  736                  742
top     2018-10-15 17:00:00  2018-10-15 18:00:00
freq                    387                  363
first   2018-10-01 00:00:00  2018-10-01 01:00:00
last    2018-11-01 00:00:00  2018-11-04 10:00:00
--------------------------------------------------
feather-data/vancouver_2018-11.feather
            trip_start_time       trip_stop_time
count                 39230                39230
unique                  705                  713
top     2018-11-02 17:00:00  2018-11-02 17:00:00
freq                    249                  253
first   2018-11-01 00:00:00  2018-11-01 00:00:00
last    2018-12-01 00:00:00  2018-12-01 13:00:00
--------------------------------------------------
feather-data/vancouver_2018-12.feather
         trip_start_time    trip_stop_time
count              27563             27563
unique               730               742
top     2018-12-31 13:00  2018-12-31 15:00
freq                 215               202
--------------------------------------------------
feather-data/vancouver_2019-01.feather
         trip_start_time    trip_stop_time
count              36725             36725
unique               719               722
top     2019-01-13 15:00  2019-01-13 15:00
freq                 234               217
--------------------------------------------------
feather-data/vancouver_2019-02.feather
         trip_start_time    trip_stop_time
count              26095             26095
unique               636               640
top     2019-02-20 17:00  2019-02-28 18:00
freq                 184               199
--------------------------------------------------
feather-data/vancouver_2019-03.feather
         trip_start_time    trip_stop_time
count              57442             57442
unique               730               736
top     2019-03-19 18:00  2019-03-19 18:00
freq                 348               342
--------------------------------------------------

In [54]:
check_dates(tor_files[1:])

NameError: name 'tor_files' is not defined

In [55]:
check_dates(mtl_files[:-6])

feather-data/montreal_2014-04.feather
            trip_start_time       trip_stop_time
count                108264               108264
unique                18189                18091
top     2014-04-25 17:23:00  2014-04-29 17:44:00
freq                     37                   41
first   2014-04-15 00:01:00  2014-04-15 00:08:00
last    2014-04-30 23:59:00  2014-05-01 00:17:00
--------------------------------------------------
feather-data/montreal_2014-05.feather
            trip_start_time       trip_stop_time
count                455261               455261
unique                39699                39720
top     2014-05-21 17:07:00  2014-05-20 17:27:00
freq                     74                   60
first   2014-05-01 00:00:00  2014-05-01 00:04:00
last    2014-05-31 23:59:00  2014-06-01 00:39:00
--------------------------------------------------
feather-data/montreal_2014-06.feather
            trip_start_time       trip_stop_time
count                525863               525863
unique                39810                39816
top     2014-06-04 17:10:00  2014-06-19 18:10:00
freq                     65                   70
first   2014-06-01 00:00:00  2014-06-01 00:03:00
last    2014-06-30 23:59:00  2014-07-01 00:44:00
--------------------------------------------------
feather-data/montreal_2014-07.feather
            trip_start_time       trip_stop_time
count                569352               569352
unique                41749                41769
top     2014-07-08 17:08:00  2014-07-16 17:42:00
freq                     68                   71
first   2014-07-01 00:00:00  2014-07-01 00:03:00
last    2014-07-31 23:59:00  2014-08-01 00:30:00
--------------------------------------------------
feather-data/montreal_2014-08.feather
            trip_start_time       trip_stop_time
count                556780               556780
unique                41428                41448
top     2014-08-06 17:09:00  2014-08-25 17:45:00
freq                     77                   67
first   2014-08-01 00:00:00  2014-08-01 00:02:00
last    2014-08-31 23:59:00  2014-09-01 01:22:00
--------------------------------------------------
feather-data/montreal_2014-09.feather
            trip_start_time       trip_stop_time
count                477545               477545
unique                38929                38954
top     2014-09-08 17:07:00  2014-09-08 17:20:00
freq                     66                   68
first   2014-09-01 00:00:00  2014-09-01 00:06:00
last    2014-09-30 23:59:00  2014-10-01 00:28:00
--------------------------------------------------
feather-data/montreal_2014-10.feather
            trip_start_time       trip_stop_time
count                331818               331818
unique                38969                38938
top     2014-10-01 17:09:00  2014-10-02 17:33:00
freq                     57                   55
first   2014-10-01 00:00:00  2014-10-01 00:06:00
last    2014-10-31 23:59:00  2014-11-01 00:39:00
--------------------------------------------------
feather-data/montreal_2014-11.feather
            trip_start_time       trip_stop_time
count                111393               111393
unique                18076                18014
top     2014-11-05 17:09:00  2014-11-05 08:47:00
freq                     35                   39
first   2014-11-01 00:00:00  2014-11-01 00:02:00
last    2014-11-15 23:58:00  2014-11-16 00:27:00
--------------------------------------------------
feather-data/montreal_2015-04.feather
            trip_start_time       trip_stop_time
count                150271               150271
unique                19283                19311
top     2015-04-28 17:08:00  2015-04-29 17:34:00
freq                     52                   52
first   2015-04-15 00:00:00  2015-04-15 00:06:00
last    2015-04-30 23:59:00  2015-05-01 00:29:00
--------------------------------------------------
feather-data/montreal_2015-05.feather
            trip_start_time       trip_stop_time
count                545678               545678
unique                40836                40845
top     2015-05-07 17:08:00  2015-05-29 17:48:00
freq                     67                   69
first   2015-05-01 00:00:00  2015-05-01 00:04:00
last    2015-05-31 23:59:00  2015-06-01 00:40:00
--------------------------------------------------
feather-data/montreal_2015-06.feather
            trip_start_time       trip_stop_time
count                547238               547238
unique                39958                39996
top     2015-06-25 17:10:00  2015-06-29 17:31:00
freq                     71                   66
first   2015-06-01 00:01:00  2015-06-01 00:03:00
last    2015-06-30 23:59:00  2015-07-01 00:31:00
--------------------------------------------------
feather-data/montreal_2015-07.feather
            trip_start_time       trip_stop_time
count                620865               620865
unique                41742                41822
top     2015-07-15 17:04:00  2015-07-16 17:30:00
freq                     68                   70
first   2015-07-01 00:00:00  2015-07-01 00:03:00
last    2015-07-31 23:59:00  2015-08-01 01:35:00
--------------------------------------------------
feather-data/montreal_2015-08.feather
            trip_start_time       trip_stop_time
count                597505               597505
unique                41527                41589
top     2015-08-25 17:05:00  2015-08-06 17:42:00
freq                     73                   67
first   2015-08-01 00:00:00  2015-08-01 00:02:00
last    2015-08-31 23:59:00  2015-09-01 00:53:00
--------------------------------------------------
feather-data/montreal_2015-09.feather
            trip_start_time       trip_stop_time
count                523322               523322
unique                39378                39460
top     2015-09-02 17:11:00  2015-09-18 08:57:00
freq                     67                   66
first   2015-09-01 00:00:00  2015-09-01 00:02:00
last    2015-09-30 23:59:00  2015-10-01 00:33:00
--------------------------------------------------
feather-data/montreal_2015-10.feather
            trip_start_time       trip_stop_time
count                332597               332597
unique                38771                38777
top     2015-10-08 17:10:00  2015-10-05 17:23:00
freq                     52                   52
first   2015-10-01 00:00:00  2015-10-01 00:05:00
last    2015-10-31 23:59:00  2015-11-01 00:56:00
--------------------------------------------------
feather-data/montreal_2015-11.feather
            trip_start_time       trip_stop_time
count                126407               126407
unique                18130                18171
top     2015-11-05 17:36:00  2015-11-02 17:38:00
freq                     42                   43
first   2015-11-01 00:00:00  2015-11-01 00:05:00
last    2015-11-15 23:58:00  2015-11-16 00:35:00
--------------------------------------------------
feather-data/montreal_2016-04.feather
            trip_start_time       trip_stop_time
count                194514               194514
unique                19806                19842
top     2016-04-21 17:12:00  2016-04-21 17:19:00
freq                     54                   51
first   2016-04-15 00:00:00  2016-04-15 00:05:00
last    2016-04-30 23:59:00  2016-05-01 00:54:00
--------------------------------------------------
feather-data/montreal_2016-05.feather
            trip_start_time       trip_stop_time
count                573739               573739
unique                40614                40609
top     2016-05-29 17:09:00  2016-05-29 15:47:00
freq                     76                   88
first   2016-05-01 00:00:00  2016-05-01 00:03:00
last    2016-05-31 23:59:00  2016-06-01 01:17:00
--------------------------------------------------
feather-data/montreal_2016-06.feather
            trip_start_time       trip_stop_time
count                645448               645448
unique                40640                40643
top     2016-06-16 17:08:00  2016-06-14 17:38:00
freq                     78                   76
first   2016-06-01 00:00:00  2016-06-01 00:05:00
last    2016-06-30 23:59:00  2016-07-01 01:03:00
--------------------------------------------------
feather-data/montreal_2016-07.feather
            trip_start_time       trip_stop_time
count                716335               716335
unique                42394                42421
top     2016-07-05 17:10:00  2016-07-06 17:51:00
freq                     84                   78
first   2016-07-01 00:00:00  2016-07-01 00:02:00
last    2016-07-31 23:59:00  2016-08-01 00:57:00
--------------------------------------------------
feather-data/montreal_2016-08.feather
            trip_start_time       trip_stop_time
count                688174               688174
unique                42169                42189
top     2016-08-09 17:28:00  2016-08-02 17:29:00
freq                     79                   82
first   2016-08-01 00:00:00  2016-08-01 00:04:00
last    2016-08-31 23:59:00  2016-09-01 00:46:00
--------------------------------------------------
feather-data/montreal_2016-09.feather
            trip_start_time       trip_stop_time
count                632218               632218
unique                40144                40152
top     2016-09-27 17:09:00  2016-09-07 17:35:00
freq                     74                   85
first   2016-09-01 00:00:00  2016-09-01 00:05:00
last    2016-09-30 23:59:00  2016-10-01 01:14:00
--------------------------------------------------
feather-data/montreal_2016-10.feather
            trip_start_time       trip_stop_time
count                397707               397707
unique                39312                39209
top     2016-10-04 17:06:00  2016-10-04 17:55:00
freq                     66                   63
first   2016-10-01 00:00:00  2016-10-01 00:04:00
last    2016-10-31 23:59:00  2016-11-01 00:34:00
--------------------------------------------------
feather-data/montreal_2016-11.feather
            trip_start_time       trip_stop_time
count                151945               151945
unique                18601                18656
top     2016-11-02 17:22:00  2016-11-02 17:24:00
freq                     45                   49
first   2016-11-01 00:00:00  2016-11-01 00:07:00
last    2016-11-15 23:58:00  2016-11-16 00:41:00
--------------------------------------------------
feather-data/montreal_2017-04.feather
            trip_start_time       trip_stop_time
count                196327               196327
unique                20035                19983
top     2017-04-27 17:13:00  2017-04-27 17:28:00
freq                     65                   66
first   2017-04-15 00:00:00  2017-04-15 00:04:00
last    2017-04-30 23:59:00  2017-05-01 00:37:00
--------------------------------------------------
feather-data/montreal_2017-05.feather
            trip_start_time       trip_stop_time
count                589852               589852
unique                40768                40815
top     2017-05-28 16:30:00  2017-05-23 17:23:00
freq                     95                   94
first   2017-05-01 00:02:00  2017-05-01 00:04:00
last    2017-05-31 23:59:00  2017-06-01 00:56:00
--------------------------------------------------
feather-data/montreal_2017-06.feather
            trip_start_time       trip_stop_time
count                748078               748078
unique                40941                40997
top     2017-06-07 17:19:00  2017-06-07 17:33:00
freq                     87                   88
first   2017-06-01 00:00:00  2017-06-01 00:03:00
last    2017-06-30 23:59:00  2017-07-01 00:48:00
--------------------------------------------------
feather-data/montreal_2017-07.feather
            trip_start_time       trip_stop_time
count                877338               877338
unique                42829                42871
top     2017-07-18 17:10:00  2017-07-06 17:34:00
freq                     95                   90
first   2017-07-01 00:00:00  2017-07-01 00:02:00
last    2017-07-31 23:59:00  2017-08-01 00:41:00
--------------------------------------------------
feather-data/montreal_2017-08.feather
            trip_start_time       trip_stop_time
count                859471               859471
unique                42574                42627
top     2017-08-08 17:10:00  2017-08-02 17:34:00
freq                     93                   93
first   2017-08-01 00:00:00  2017-08-01 00:04:00
last    2017-08-31 23:59:00  2017-09-01 00:37:00
--------------------------------------------------
feather-data/montreal_2017-09.feather
            trip_start_time       trip_stop_time
count                747633               747633
unique                40513                40600
top     2017-09-26 17:20:00  2017-09-27 17:36:00
freq                     83                   94
first   2017-09-01 00:00:00  2017-09-01 00:04:00
last    2017-09-30 23:59:00  2017-10-01 00:55:00
--------------------------------------------------
feather-data/montreal_2017-10.feather
            trip_start_time       trip_stop_time
count                569930               569930
unique                40915                40931
top     2017-10-04 08:24:00  2017-10-03 17:35:00
freq                     76                   82
first   2017-10-01 00:00:00  2017-10-01 00:05:00
last    2017-10-31 23:59:00  2017-11-01 00:31:00
--------------------------------------------------
feather-data/montreal_2017-11.feather
            trip_start_time       trip_stop_time
count                151728               151728
unique                18549                18592
top     2017-11-01 17:43:00  2017-11-01 17:56:00
freq                     44                   53
first   2017-11-01 00:00:00  2017-11-01 00:07:00
last    2017-11-15 23:59:00  2017-11-16 00:45:00
--------------------------------------------------
feather-data/montreal_2018-04.feather
            trip_start_time       trip_stop_time
count                236982               236982
unique                25093                25113
top     2018-04-24 17:30:00  2018-04-24 17:26:00
freq                     71                   71
first   2018-04-10 11:56:00  2018-04-10 11:57:00
last    2018-04-30 23:59:00  2018-05-01 00:23:00
--------------------------------------------------
feather-data/montreal_2018-05.feather
            trip_start_time       trip_stop_time
count                811910               811910
unique                41827                41863
top     2018-05-30 17:08:00  2018-05-30 17:51:00
freq                     99                   99
first   2018-05-01 00:00:00  2018-05-01 00:04:00
last    2018-05-31 23:59:00  2018-06-01 01:06:00
--------------------------------------------------
feather-data/montreal_2018-06.feather
            trip_start_time       trip_stop_time
count                888470               888470
unique                41267                41240
top     2018-06-12 17:09:00  2018-06-21 17:54:00
freq                    104                   95
first   2018-06-01 00:00:00  2018-06-01 00:03:00
last    2018-06-30 23:59:00  2018-07-01 00:28:00
--------------------------------------------------
feather-data/montreal_2018-07.feather
            trip_start_time       trip_stop_time
count                953031               953031
unique                43097                43123
top     2018-07-17 17:10:00  2018-07-19 17:33:00
freq                    103                   99
first   2018-07-01 00:00:00  2018-07-01 00:03:00
last    2018-07-31 23:59:00  2018-08-01 00:41:00
--------------------------------------------------
feather-data/montreal_2018-08.feather
            trip_start_time       trip_stop_time
count                956790               956790
unique                43112                43172
top     2018-08-14 17:08:00  2018-08-16 17:33:00
freq                    106                  100
first   2018-08-01 00:00:00  2018-08-01 00:03:00
last    2018-08-31 23:59:00  2018-09-01 00:53:00
--------------------------------------------------
feather-data/montreal_2018-09.feather
            trip_start_time       trip_stop_time
count                797520               797520
unique                41001                41037
top     2018-09-04 17:09:00  2018-09-06 17:39:00
freq                    105                  101
first   2018-09-01 00:00:00  2018-09-01 00:01:00
last    2018-09-30 23:59:00  2018-10-01 00:39:00
--------------------------------------------------
feather-data/montreal_2018-10.feather
            trip_start_time       trip_stop_time
count                488490               488490
unique                40583                40568
top     2018-10-09 17:06:00  2018-10-09 17:21:00
freq                     78                   77
first   2018-10-01 00:00:00  2018-10-01 00:03:00
last    2018-10-31 23:59:00  2018-11-01 00:52:00
--------------------------------------------------
feather-data/montreal_2018-11.feather
            trip_start_time       trip_stop_time
count                144348               144348
unique                18414                18423
top     2018-11-01 17:20:00  2018-11-08 08:53:00
freq                     47                   50
first   2018-11-01 00:00:00  2018-11-01 00:05:00
last    2018-11-15 23:57:00  2018-11-16 00:26:00
--------------------------------------------------

In [547]:
#df = feather.read_feather('feather-data/vancouver_2017.feather')
df[['trip_start_time', 'trip_stop_time']].describe()

            trip_start_time       trip_stop_time
count                573538               573538
unique                 8476                 8474
top     2017-07-01 15:00:00  2017-07-05 18:00:00
freq                    402                  395
first   2017-01-01 00:00:00  2017-01-01 01:00:00
last    2018-01-01 00:00:00  2018-01-03 09:00:00

In [553]:
df = feather.read_feather('feather-data/vancouver_2018-12.feather')
df['trip_start_time'] = pd.to_datetime(df.trip_start_time)
df['trip_stop_time'] = pd.to_datetime(df.trip_stop_time)
feather.write_feather(df, 'feather-data/vancouver_2018-12.feather')
df.dtypes

trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object

In [555]:
df = feather.read_feather('feather-data/vancouver_2018-12_xtr.feather')
df['trip_start_time'] = pd.to_datetime(df.trip_start_time)
df['trip_stop_time'] = pd.to_datetime(df.trip_stop_time)
feather.write_feather(df, 'feather-data/vancouver_2018-12_xtr.feather')
df.dtypes

trip_start_time                         datetime64[ns]
trip_stop_time                          datetime64[ns]
account_id                                      object
bike_id                                          int64
start_station                                   object
end_station                                     object
membership_type                                 object
covered_distance_meters                        float64
trip_duration_seconds                            int64
departure_battery_voltage_millivolts             int64
return_battery_voltage_millivolts                int64
departure_temperature_celsius                    int64
return_temperature_celsius                       int64
stopover_duration_seconds                        int64
number_of_stopovers                              int64
city                                            object
start_station_code                              object
end_station_code                                object
dtype: object

In [556]:
df = feather.read_feather('feather-data/vancouver_2019-01.feather')
df['trip_start_time'] = pd.to_datetime(df.trip_start_time)
df['trip_stop_time'] = pd.to_datetime(df.trip_stop_time)
feather.write_feather(df, 'feather-data/vancouver_2019-01.feather')
df.dtypes

trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object

In [557]:
df = feather.read_feather('feather-data/vancouver_2019-01_xtr.feather')
df['trip_start_time'] = pd.to_datetime(df.trip_start_time)
df['trip_stop_time'] = pd.to_datetime(df.trip_stop_time)
feather.write_feather(df, 'feather-data/vancouver_2019-01_xtr.feather')
df.dtypes

trip_start_time                         datetime64[ns]
trip_stop_time                          datetime64[ns]
account_id                                      object
bike_id                                        float64
start_station                                   object
end_station                                     object
membership_type                                 object
covered_distance_meters                        float64
trip_duration_seconds                            int64
departure_battery_voltage_millivolts             int64
return_battery_voltage_millivolts                int64
departure_temperature_celsius                    int64
return_temperature_celsius                       int64
stopover_duration_seconds                        int64
number_of_stopovers                              int64
city                                            object
start_station_code                              object
end_station_code                                object
dtype: object

In [558]:
df = feather.read_feather('feather-data/vancouver_2019-02.feather')
df['trip_start_time'] = pd.to_datetime(df.trip_start_time)
df['trip_stop_time'] = pd.to_datetime(df.trip_stop_time)
feather.write_feather(df, 'feather-data/vancouver_2019-02.feather')
print(df.dtypes)

df = feather.read_feather('feather-data/vancouver_2019-02_xtr.feather')
df['trip_start_time'] = pd.to_datetime(df.trip_start_time)
df['trip_stop_time'] = pd.to_datetime(df.trip_stop_time)
feather.write_feather(df, 'feather-data/vancouver_2019-02_xtr.feather')
print(df.dtypes)

trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
trip_start_time                         datetime64[ns]
trip_stop_time                          datetime64[ns]
account_id                                      object
bike_id                                        float64
start_station                                   object
end_station                                     object
membership_type                                 object
covered_distance_meters                        float64
trip_duration_seconds                            int64
departure_battery_voltage_millivolts             int64
return_battery_voltage_millivolts                int64
departure_temperature_celsius                    int64
return_temperature_celsius                       int64
stopover_duration_seconds                        int64
number_of_stopovers                              int64
city                                            object
start_station_code                              object
end_station_code                                object
dtype: object

In [559]:
df = feather.read_feather('feather-data/vancouver_2019-03.feather')
df['trip_start_time'] = pd.to_datetime(df.trip_start_time)
df['trip_stop_time'] = pd.to_datetime(df.trip_stop_time)
feather.write_feather(df, 'feather-data/vancouver_2019-03.feather')
print(df.dtypes)

df = feather.read_feather('feather-data/vancouver_2019-03_xtr.feather')
df['trip_start_time'] = pd.to_datetime(df.trip_start_time)
df['trip_stop_time'] = pd.to_datetime(df.trip_stop_time)
feather.write_feather(df, 'feather-data/vancouver_2019-03_xtr.feather')
print(df.dtypes)

trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object
trip_start_time                         datetime64[ns]
trip_stop_time                          datetime64[ns]
account_id                                      object
bike_id                                        float64
start_station                                   object
end_station                                     object
membership_type                                 object
covered_distance_meters                        float64
trip_duration_seconds                            int64
departure_battery_voltage_millivolts             int64
return_battery_voltage_millivolts                int64
departure_temperature_celsius                    int64
return_temperature_celsius                       int64
stopover_duration_seconds                        int64
number_of_stopovers                              int64
city                                            object
start_station_code                              object
end_station_code                                object
dtype: object

In [560]:
check_dates(van_files[10:])

feather-data/vancouver_2018-09.feather
            trip_start_time       trip_stop_time
count                 77451                77451
unique                  715                  715
top     2018-09-17 17:00:00  2018-09-17 17:00:00
freq                    408                  409
first   2018-09-01 00:00:00  2018-09-01 00:00:00
last    2018-10-01 00:00:00  2018-10-01 13:00:00
--------------------------------------------------
feather-data/vancouver_2018-10.feather
            trip_start_time       trip_stop_time
count                 65219                65219
unique                  736                  742
top     2018-10-15 17:00:00  2018-10-15 18:00:00
freq                    387                  363
first   2018-10-01 00:00:00  2018-10-01 01:00:00
last    2018-11-01 00:00:00  2018-11-04 10:00:00
--------------------------------------------------
feather-data/vancouver_2018-11.feather
            trip_start_time       trip_stop_time
count                 39230                39230
unique                  705                  713
top     2018-11-02 17:00:00  2018-11-02 17:00:00
freq                    249                  253
first   2018-11-01 00:00:00  2018-11-01 00:00:00
last    2018-12-01 00:00:00  2018-12-01 13:00:00
--------------------------------------------------
feather-data/vancouver_2018-12.feather
            trip_start_time       trip_stop_time
count                 27563                27563
unique                  730                  742
top     2018-12-31 13:00:00  2018-12-31 15:00:00
freq                    215                  202
first   2018-12-01 00:00:00  2018-12-01 00:00:00
last    2019-01-01 00:00:00  2019-01-02 17:00:00
--------------------------------------------------
feather-data/vancouver_2019-01.feather
            trip_start_time       trip_stop_time
count                 36725                36725
unique                  719                  722
top     2019-01-13 15:00:00  2019-01-13 15:00:00
freq                    234                  217
first   2019-01-01 00:00:00  2019-01-01 00:00:00
last    2019-02-01 00:00:00  2019-02-01 10:00:00
--------------------------------------------------
feather-data/vancouver_2019-02.feather
            trip_start_time       trip_stop_time
count                 26095                26095
unique                  636                  640
top     2019-02-20 17:00:00  2019-02-28 18:00:00
freq                    184                  199
first   2019-02-01 00:00:00  2019-02-01 00:00:00
last    2019-03-01 00:00:00  2019-03-01 19:00:00
--------------------------------------------------
feather-data/vancouver_2019-03.feather
            trip_start_time       trip_stop_time
count                 57442                57442
unique                  730                  736
top     2019-03-19 18:00:00  2019-03-19 18:00:00
freq                    348                  342
first   2019-03-01 00:00:00  2019-03-01 00:00:00
last    2019-04-01 00:00:00  2019-04-01 15:00:00
--------------------------------------------------

In [561]:
# remove trips from april in vancouver_2019-03.feather

In [565]:
df = feather.read_feather('feather-data/vancouver_2019-03.feather')
df[df['trip_start_time'].dt.month > 3]

,trip_start_time,start_station_code,trip_stop_time,end_station_code,trip_duration_seconds,membership_type,city
57435,2019-04-01,0123,2019-04-01 00:00:00,0044,691,1,van
57436,2019-04-01,0076,2019-04-01 00:00:00,0005,1363,1,van
57437,2019-04-01,0119,2019-04-01 00:00:00,0150,676,1,van
57438,2019-04-01,0050,2019-04-01 01:00:00,0096,2908,1,van
57439,2019-04-01,0096,2019-04-01 01:00:00,0088,2209,1,van
57440,2019-04-01,0002,2019-04-01 00:00:00,0237,1325,1,van
57441,2019-04-01,0119,2019-04-01 00:00:00,0108,1195,1,van

In [568]:
df = df[df['trip_start_time'].dt.month < 4]
feather.write_feather(df, 'feather-data/vancouver_2019-03.feather')

In [569]:
df[df['trip_start_time'].dt.month > 3]

Empty DataFrame
Columns: [trip_start_time, start_station_code, trip_stop_time, end_station_code, trip_duration_seconds, membership_type, city]
Index: []

In [570]:
df = feather.read_feather('feather-data/vancouver_2019-03_xtr.feather')
df = df[df['trip_start_time'].dt.month < 4]
feather.write_feather(df, 'feather-data/vancouver_2019-03_xtr.feather')

In [571]:
df = feather.read_feather('feather-data/toronto_2016Q3.feather')
df.head()

,trip_start_time,start_station_code,trip_stop_time,end_station_code,trip_duration_seconds,membership_type,city
0,2016-07-09 01:03:00,7104,2016-07-09 01:15:00,7264,714,1,tor
1,2016-07-10 17:04:00,7104,2016-07-10 17:36:00,7196,1904,1,tor
2,2016-07-20 13:12:00,7104,2016-07-20 13:23:00,7172,658,1,tor
3,2016-07-21 13:16:00,7104,2016-07-21 13:28:00,7032,718,1,tor
4,2016-07-27 12:21:00,7104,2016-07-27 12:33:00,7172,694,1,tor

In [573]:
df.sort_values(by=['trip_start_time']).head()

,trip_start_time,start_station_code,trip_stop_time,end_station_code,trip_duration_seconds,membership_type,city
296875,2000-01-01 14:40:00,7032,2000-01-01 15:44:00,7032,3794,1,tor
203335,2016-07-01 00:00:00,7096,2016-07-01 00:10:00,7000,603,1,tor
101341,2016-07-01 00:00:00,7059,2016-07-01 00:42:00,7248,2487,0,tor
66001,2016-07-01 00:00:00,7212,2016-07-01 00:08:00,7082,505,1,tor
318527,2016-07-01 00:01:00,7288,2016-07-01 00:07:00,7268,399,1,tor

In [576]:
df.shape

(367957, 7)

In [581]:
df = df[~(df.trip_start_time.dt.year < 2016)]

In [582]:
df[df.trip_start_time.dt.year < 2016]

Empty DataFrame
Columns: [trip_start_time, start_station_code, trip_stop_time, end_station_code, trip_duration_seconds, membership_type, city]
Index: []

In [583]:
feather.write_feather(df, 'feather-data/toronto_2016Q3.feather')

In [584]:
df = feather.read_feather('feather-data/toronto_2016Q4.feather')
df.head(3)

,trip_start_time,start_station_code,trip_stop_time,end_station_code,trip_duration_seconds,membership_type,city
0,2016-01-10 00:00:00,7063,2016-01-10 00:07:00,7173,394,0,tor
1,2016-01-10 00:00:00,7063,2016-01-10 00:07:00,7173,383,0,tor
2,2016-01-10 00:15:00,7063,2016-01-10 00:34:00,7248,1118,1,tor

In [585]:
# the first ten days are miscoded: days are months and months are days. similar problems exist in other files

In [586]:
df.shape

(217565, 7)

In [587]:
df.dtypes

trip_start_time          datetime64[ns]
start_station_code               object
trip_stop_time           datetime64[ns]
end_station_code                 object
trip_duration_seconds             int64
membership_type                  object
city                             object
dtype: object

In [597]:
start_inc = df['trip_start_time'][df.trip_start_time.dt.month < 10]
start_inc.shape

(80105,)

In [598]:
stop_inc = df['trip_stop_time'][df.trip_stop_time.dt.month < 10]
stop_inc.shape

(80094,)

In [599]:
start_corr = df['trip_start_time'][df.trip_start_time.dt.month >= 10]
start_corr.shape

(137460,)

In [600]:
stop_corr = df['trip_stop_time'][df.trip_stop_time.dt.month >= 10]
stop_corr.shape

(137471,)

In [601]:
start_inc = start_inc.apply(lambda x: x.strftime("%Y-%d-%m %H:%M:%S"))
stop_inc = stop_inc.apply(lambda x: x.strftime("%Y-%d-%m %H:%M:%S"))

In [602]:
start_inc.head(5)

0    2016-10-01 00:00:00
1    2016-10-01 00:00:00
2    2016-10-01 00:15:00
3    2016-10-01 04:55:00
4    2016-10-01 14:27:00
Name: trip_start_time, dtype: object

In [603]:
stop_inc.head(5)

0    2016-10-01 00:07:00
1    2016-10-01 00:07:00
2    2016-10-01 00:34:00
3    2016-10-01 05:07:00
4    2016-10-01 14:48:00
Name: trip_stop_time, dtype: object

In [604]:
start_all = pd.concat([start_inc, start_corr])
start_all.shape

(217565,)

In [605]:
stop_all = pd.concat([stop_inc, stop_corr])
stop_all.shape

(217565,)

In [606]:
pd.concat([df.trip_start_time, start_all, df.trip_stop_time, stop_all], axis = 1).head(10)

,trip_start_time,trip_start_time,trip_stop_time,trip_stop_time
0,2016-01-10 00:00:00,2016-10-01 00:00:00,2016-01-10 00:07:00,2016-10-01 00:07:00
1,2016-01-10 00:00:00,2016-10-01 00:00:00,2016-01-10 00:07:00,2016-10-01 00:07:00
2,2016-01-10 00:15:00,2016-10-01 00:15:00,2016-01-10 00:34:00,2016-10-01 00:34:00
3,2016-01-10 04:55:00,2016-10-01 04:55:00,2016-01-10 05:07:00,2016-10-01 05:07:00
4,2016-01-10 14:27:00,2016-10-01 14:27:00,2016-01-10 14:48:00,2016-10-01 14:48:00
5,2016-01-10 15:28:00,2016-10-01 15:28:00,2016-01-10 15:37:00,2016-10-01 15:37:00
6,2016-01-10 18:54:00,2016-10-01 18:54:00,2016-01-10 19:08:00,2016-10-01 19:08:00
7,2016-01-10 18:55:00,2016-10-01 18:55:00,2016-01-10 19:07:00,2016-10-01 19:07:00
8,2016-01-10 21:25:00,2016-10-01 21:25:00,2016-01-10 21:46:00,2016-10-01 21:46:00
9,2016-01-10 21:26:00,2016-10-01 21:26:00,2016-01-10 21:45:00,2016-10-01 21:45:00

In [607]:
pd.concat([df.trip_start_time, start_all, df.trip_stop_time, stop_all], axis = 1).dtypes

trip_start_time    datetime64[ns]
trip_start_time            object
trip_stop_time     datetime64[ns]
trip_stop_time             object
dtype: object

In [608]:
start_all = pd.to_datetime(start_all)
stop_all = pd.to_datetime(stop_all)

In [609]:
df1 = df.copy()
df1.drop(['trip_start_time', 'trip_stop_time'], inplace = True, axis = 1)

In [611]:
df1.insert(0, 'trip_start_time', start_all)
df1.insert(2, 'trip_stop_time', stop_all)
df1.head(4)

,trip_start_time,start_station_code,trip_stop_time,end_station_code,trip_duration_seconds,membership_type,city
0,2016-10-01 00:00:00,7063,2016-10-01 00:07:00,7173,394,0,tor
1,2016-10-01 00:00:00,7063,2016-10-01 00:07:00,7173,383,0,tor
2,2016-10-01 00:15:00,7063,2016-10-01 00:34:00,7248,1118,1,tor
3,2016-10-01 04:55:00,7063,2016-10-01 05:07:00,7172,685,1,tor

In [612]:
df1.shape

(217565, 7)

In [613]:
df1[['trip_start_time', 'trip_stop_time']].describe()

            trip_start_time       trip_stop_time
count                217565               217565
unique                75935                75695
top     2016-10-19 12:44:00  2016-10-05 13:06:00
freq                     24                   23
first   2016-10-01 00:00:00  2016-10-01 00:04:00
last    2016-12-31 23:40:00  2016-12-31 23:58:00

In [614]:
feather.write_feather(df1, 'feather-data/toronto_2016Q4.feather')

In [615]:
df = feather.read_feather('feather-data/toronto_2017Q1.feather')

In [616]:
df.shape

(132123, 7)

In [622]:
df.sort_values(by=['trip_start_time'], ascending = False).head(3)

,trip_start_time,start_station_code,trip_stop_time,end_station_code,trip_duration_seconds,membership_type,city
9060,2017-12-03 23:58:00,7098,2017-03-13 00:16:00,7070,1077,1,tor
5413,2017-12-03 23:56:00,7141,2017-03-13 00:19:00,7064,1410,1,tor
121970,2017-12-03 23:49:00,7050,2017-03-13 00:12:00,7270,1421,1,tor

In [631]:
df[['trip_start_time', 'trip_stop_time']].describe()

            trip_start_time       trip_stop_time
count                132123               132123
unique                61704                61551
top     2017-03-21 12:31:00  2017-01-13 14:06:00
freq                     17                   16
first   2017-01-01 00:00:00  2017-01-01 00:03:00
last    2017-12-03 23:58:00  2017-12-03 23:59:00

In [644]:
start_inc = df['trip_start_time'][df.trip_start_time.dt.month > 3]
start_inc.shape

(32810,)

In [645]:
stop_inc = df['trip_stop_time'][df.trip_stop_time.dt.month > 3]
stop_inc.shape

(32830,)

In [646]:
start_corr = df['trip_start_time'][df.trip_start_time.dt.month <= 3]
start_corr.shape

(99313,)

In [647]:
stop_corr = df['trip_stop_time'][df.trip_stop_time.dt.month <= 3]
stop_corr.shape

(99293,)

In [648]:
start_inc = start_inc.apply(lambda x: x.strftime("%Y-%d-%m %H:%M:%S"))
stop_inc = stop_inc.apply(lambda x: x.strftime("%Y-%d-%m %H:%M:%S"))

In [649]:
start_inc.head()

18    2017-01-04 11:35:00
19    2017-01-04 11:46:00
20    2017-01-04 17:51:00
21    2017-01-04 21:59:00
22    2017-01-04 23:35:00
Name: trip_start_time, dtype: object

In [650]:
stop_inc.head()

18    2017-01-04 11:45:00
19    2017-01-04 11:53:00
20    2017-01-04 17:58:00
21    2017-01-04 22:05:00
22    2017-01-04 23:44:00
Name: trip_stop_time, dtype: object

In [651]:
start_all = pd.concat([start_inc, start_corr])
start_all.shape

(132123,)

In [652]:
stop_all = pd.concat([stop_inc, stop_corr])
stop_all.shape

(132123,)

In [653]:
start_all = pd.to_datetime(start_all)
stop_all = pd.to_datetime(stop_all)

df1 = df.copy()
df1.drop(['trip_start_time', 'trip_stop_time'], inplace = True, axis = 1)

df1.insert(0, 'trip_start_time', start_all)
df1.insert(2, 'trip_stop_time', stop_all)

df1.head(4)

,trip_start_time,start_station_code,trip_stop_time,end_station_code,trip_duration_seconds,membership_type,city
0,2017-01-01 00:00:00,7180,2017-01-01 00:03:00,7282,223,1,tor
1,2017-01-01 04:36:00,7180,2017-01-01 04:40:00,7108,248,1,tor
2,2017-01-01 07:24:00,7180,2017-01-01 07:41:00,7125,1001,1,tor
3,2017-01-01 07:52:00,7180,2017-01-01 07:56:00,7041,243,1,tor

In [654]:
df1.shape

(132123, 7)

In [655]:
df1[['trip_start_time', 'trip_stop_time']].describe()

            trip_start_time       trip_stop_time
count                132123               132123
unique                61704                61549
top     2017-03-21 12:31:00  2017-01-13 14:06:00
freq                     17                   16
first   2017-01-01 00:00:00  2017-01-01 00:03:00
last    2017-03-31 23:54:00  2017-03-31 23:57:00

In [657]:
feather.write_feather(df1, 'feather-data/toronto_2017Q1.feather')

In [658]:
df = feather.read_feather('feather-data/toronto_2017Q2.feather')
df.shape

(333353, 7)

In [659]:
df.head()

,trip_start_time,start_station_code,trip_stop_time,end_station_code,trip_duration_seconds,membership_type,city
0,2017-01-04 00:01:00,7046,2017-01-04 00:06:00,7173,297,1,tor
1,2017-01-04 10:42:00,7046,2017-01-04 10:46:00,7045,207,1,tor
2,2017-01-04 13:50:00,7046,2017-01-04 13:55:00,7080,287,1,tor
3,2017-01-04 13:53:00,7046,2017-01-04 13:59:00,7183,358,1,tor
4,2017-01-04 18:56:00,7046,2017-01-04 20:19:00,7046,4967,1,tor

In [662]:
len(df['trip_start_time'][df.trip_start_time.dt.month > 6])

68370

In [663]:
len(df['trip_start_time'][df.trip_start_time.dt.month <= 3])

29336

In [664]:
333353 - 68370 - 29336

235647

In [665]:
68370 + 29336

97706

In [667]:
start_inc = df['trip_start_time'][(df.trip_start_time.dt.month > 6) | (df.trip_start_time.dt.month <= 3)]
start_inc.shape

(97706,)

In [668]:
stop_inc = df['trip_stop_time'][(df.trip_stop_time.dt.month > 6) | (df.trip_stop_time.dt.month <= 3)]
stop_inc.shape

(97649,)

In [670]:
start_corr = df['trip_start_time'][(df.trip_start_time.dt.month <= 6) & (df.trip_start_time.dt.month > 3)]
start_corr.shape

(235647,)

In [671]:
stop_corr = df['trip_stop_time'][(df.trip_stop_time.dt.month <= 6) & (df.trip_stop_time.dt.month > 3)]
stop_corr.shape

(235704,)

In [672]:
start_inc = start_inc.apply(lambda x: x.strftime("%Y-%d-%m %H:%M:%S"))
stop_inc = stop_inc.apply(lambda x: x.strftime("%Y-%d-%m %H:%M:%S"))

In [673]:
start_inc.head()

0    2017-04-01 00:01:00
1    2017-04-01 10:42:00
2    2017-04-01 13:50:00
3    2017-04-01 13:53:00
4    2017-04-01 18:56:00
Name: trip_start_time, dtype: object

In [674]:
stop_inc.head()

0    2017-04-01 00:06:00
1    2017-04-01 10:46:00
2    2017-04-01 13:55:00
3    2017-04-01 13:59:00
4    2017-04-01 20:19:00
Name: trip_stop_time, dtype: object

In [675]:
start_all = pd.concat([start_inc, start_corr])
stop_all = pd.concat([stop_inc, stop_corr])
start_all.shape, stop_all.shape

((333353,), (333353,))

In [676]:
start_all = pd.to_datetime(start_all)
stop_all = pd.to_datetime(stop_all)

df1 = df.copy()
df1.drop(['trip_start_time', 'trip_stop_time'], inplace = True, axis = 1)

df1.insert(0, 'trip_start_time', start_all)
df1.insert(2, 'trip_stop_time', stop_all)

df1.head(4)

,trip_start_time,start_station_code,trip_stop_time,end_station_code,trip_duration_seconds,membership_type,city
0,2017-04-01 00:01:00,7046,2017-04-01 00:06:00,7173,297,1,tor
1,2017-04-01 10:42:00,7046,2017-04-01 10:46:00,7045,207,1,tor
2,2017-04-01 13:50:00,7046,2017-04-01 13:55:00,7080,287,1,tor
3,2017-04-01 13:53:00,7046,2017-04-01 13:59:00,7183,358,1,tor

In [677]:
df1.shape

(333353, 7)

In [678]:
df1[['trip_start_time', 'trip_stop_time']].describe()

            trip_start_time       trip_stop_time
count                333353               333353
unique                87695                87404
top     2017-06-13 12:41:00  2017-06-14 21:25:00
freq                     24                   26
first   2017-04-01 00:01:00  2017-04-01 00:06:00
last    2017-06-30 23:59:00  2017-07-01 01:48:00

In [679]:
feather.write_feather(df1, 'feather-data/toronto_2017Q2.feather')

In [17]:
tor_files = subprocess.getoutput('ls feather-data/t*.feather').split('\n')
tor_files[1:]

['feather-data/toronto_2016Q3.feather',
 'feather-data/toronto_2016Q4.feather',
 'feather-data/toronto_2017Q1.feather',
 'feather-data/toronto_2017Q2.feather',
 'feather-data/toronto_2017Q3.feather',
 'feather-data/toronto_2017Q4.feather']

In [20]:
check_dates(tor_files[1:])

feather-data/toronto_2016Q3.feather
            trip_start_time       trip_stop_time
count                367956               367956
unique                95724                95169
top     2016-09-26 12:32:00  2016-09-13 13:00:00
freq                     24                   22
first   2016-07-01 00:00:00  2016-07-01 00:07:00
last    2016-09-30 23:59:00  2016-10-01 00:58:00
--------------------------------------------------
feather-data/toronto_2016Q4.feather
            trip_start_time       trip_stop_time
count                217565               217565
unique                75935                75695
top     2016-10-19 12:44:00  2016-10-05 13:06:00
freq                     24                   23
first   2016-10-01 00:00:00  2016-10-01 00:04:00
last    2016-12-31 23:40:00  2016-12-31 23:58:00
--------------------------------------------------
feather-data/toronto_2017Q1.feather
            trip_start_time       trip_stop_time
count                132123               132123
unique                61704                61549
top     2017-03-21 12:31:00  2017-01-13 14:06:00
freq                     17                   16
first   2017-01-01 00:00:00  2017-01-01 00:03:00
last    2017-03-31 23:54:00  2017-03-31 23:57:00
--------------------------------------------------
feather-data/toronto_2017Q2.feather
            trip_start_time       trip_stop_time
count                333353               333353
unique                87695                87404
top     2017-06-13 12:41:00  2017-06-14 21:25:00
freq                     24                   26
first   2017-04-01 00:01:00  2017-04-01 00:06:00
last    2017-06-30 23:59:00  2017-07-01 01:48:00
--------------------------------------------------
feather-data/toronto_2017Q3.feather
            trip_start_time       trip_stop_time
count                663488               663488
unique               106315               106314
top     2017-09-27 17:39:00  2017-08-28 17:22:00
freq                     40                   38
first   2017-07-01 00:00:00  2017-07-01 00:09:00
last    2017-09-30 23:59:00  2017-11-02 20:30:00
--------------------------------------------------
feather-data/toronto_2017Q4.feather
            trip_start_time       trip_stop_time
count                363404               363404
unique               343273               337512
top     2017-10-10 17:06:41  2017-10-26 17:25:06
freq                      5                    6
first   2017-10-01 00:00:01  2017-10-01 00:00:27
last    2017-12-31 23:49:41  2018-01-01 00:11:40
--------------------------------------------------

In [22]:
van_files = subprocess.getoutput('ls feather-data/v*.feather').split('\n')
van_files[1:]

['feather-data/vancouver_2017.feather',
 'feather-data/vancouver_2017_xtr.feather',
 'feather-data/vancouver_2017_xtrx.feather',
 'feather-data/vancouver_2017x.feather',
 'feather-data/vancouver_2018-01.feather',
 'feather-data/vancouver_2018-01_xtr.feather',
 'feather-data/vancouver_2018-02.feather',
 'feather-data/vancouver_2018-02_xtr.feather',
 'feather-data/vancouver_2018-03.feather',
 'feather-data/vancouver_2018-03_xtr.feather',
 'feather-data/vancouver_2018-04.feather',
 'feather-data/vancouver_2018-04_xtr.feather',
 'feather-data/vancouver_2018-05.feather',
 'feather-data/vancouver_2018-05_xtr.feather',
 'feather-data/vancouver_2018-06.feather',
 'feather-data/vancouver_2018-06_xtr.feather',
 'feather-data/vancouver_2018-07.feather',
 'feather-data/vancouver_2018-07_xtr.feather',
 'feather-data/vancouver_2018-08.feather',
 'feather-data/vancouver_2018-08_xtr.feather',
 'feather-data/vancouver_2018-09.feather',
 'feather-data/vancouver_2018-09_xtr.feather',
 'feather-data/vancouver_2018-10.feather',
 'feather-data/vancouver_2018-10_xtr.feather',
 'feather-data/vancouver_2018-11.feather',
 'feather-data/vancouver_2018-11_xtr.feather',
 'feather-data/vancouver_2018-12.feather',
 'feather-data/vancouver_2018-12_xtr.feather',
 'feather-data/vancouver_2019-01.feather',
 'feather-data/vancouver_2019-01_xtr.feather',
 'feather-data/vancouver_2019-02.feather',
 'feather-data/vancouver_2019-02_xtr.feather',
 'feather-data/vancouver_2019-03.feather',
 'feather-data/vancouver_2019-03_xtr.feather']

In [24]:
check_dates(van_files[1:])

feather-data/vancouver_2017.feather
            trip_start_time       trip_stop_time
count                573538               573538
unique                 8476                 8474
top     2017-07-01 15:00:00  2017-07-05 18:00:00
freq                    402                  395
first   2017-01-01 00:00:00  2017-01-01 01:00:00
last    2018-01-01 00:00:00  2018-01-03 09:00:00
--------------------------------------------------
feather-data/vancouver_2017_xtr.feather
            trip_start_time       trip_stop_time
count                573538               573538
unique                 8476                 8474
top     2017-07-01 15:00:00  2017-07-05 18:00:00
freq                    402                  395
first   2017-01-01 00:00:00  2017-01-01 01:00:00
last    2018-01-01 00:00:00  2018-01-03 09:00:00
--------------------------------------------------
feather-data/vancouver_2017_xtrx.feather
            trip_start_time       trip_stop_time
count                573538               573538
unique                 8476                 8474
top     2017-07-01 15:00:00  2017-07-05 18:00:00
freq                    402                  395
first   2017-01-01 00:00:00  2017-01-01 01:00:00
last    2018-01-01 00:00:00  2018-01-03 09:00:00
--------------------------------------------------
feather-data/vancouver_2017x.feather
            trip_start_time       trip_stop_time
count                573531               573531
unique                 8475                 8474
top     2017-07-01 15:00:00  2017-07-05 18:00:00
freq                    402                  395
first   2017-01-01 00:00:00  2017-01-01 01:00:00
last    2017-12-31 23:00:00  2018-01-03 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-01.feather
            trip_start_time       trip_stop_time
count                 20391                20391
unique                  697                  696
top     2018-01-22 17:00:00  2018-01-10 09:00:00
freq                    132                  135
first   2018-01-01 00:00:00  2018-01-01 00:00:00
last    2018-02-01 00:00:00  2018-02-01 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-01_xtr.feather
            trip_start_time       trip_stop_time
count                 20391                20391
unique                  697                  696
top     2018-01-22 17:00:00  2018-01-10 09:00:00
freq                    132                  135
first   2018-01-01 00:00:00  2018-01-01 00:00:00
last    2018-02-01 00:00:00  2018-02-01 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-02.feather
            trip_start_time       trip_stop_time
count                 22257                22257
unique                  624                  629
top     2018-02-10 16:00:00  2018-02-10 16:00:00
freq                    149                  153
first   2018-02-01 00:00:00  2018-02-01 00:00:00
last    2018-03-01 00:00:00  2018-03-01 07:00:00
--------------------------------------------------
feather-data/vancouver_2018-02_xtr.feather
            trip_start_time       trip_stop_time
count                 22257                22257
unique                  624                  629
top     2018-02-10 16:00:00  2018-02-10 16:00:00
freq                    149                  153
first   2018-02-01 00:00:00  2018-02-01 00:00:00
last    2018-03-01 00:00:00  2018-03-01 07:00:00
--------------------------------------------------
feather-data/vancouver_2018-03.feather
            trip_start_time       trip_stop_time
count                 36802                36802
unique                  702                  701
top     2018-03-11 15:00:00  2018-03-21 18:00:00
freq                    238                  227
first   2018-03-01 00:00:00  2018-03-01 00:00:00
last    2018-04-01 00:00:00  2018-04-01 11:00:00
--------------------------------------------------
feather-data/vancouver_2018-03_xtr.feather
            trip_start_time       trip_stop_time
count                 36802                36802
unique                  702                  701
top     2018-03-11 15:00:00  2018-03-21 18:00:00
freq                    238                  227
first   2018-03-01 00:00:00  2018-03-01 00:00:00
last    2018-04-01 00:00:00  2018-04-01 11:00:00
--------------------------------------------------
feather-data/vancouver_2018-04.feather
            trip_start_time       trip_stop_time
count                 42641                42641
unique                  683                  688
top     2018-04-26 18:00:00  2018-04-26 18:00:00
freq                    316                  321
first   2018-04-01 00:00:00  2018-04-01 00:00:00
last    2018-05-01 00:00:00  2018-05-01 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-04_xtr.feather
            trip_start_time       trip_stop_time
count                 42641                42641
unique                  683                  688
top     2018-04-26 18:00:00  2018-04-26 18:00:00
freq                    316                  321
first   2018-04-01 00:00:00  2018-04-01 00:00:00
last    2018-05-01 00:00:00  2018-05-01 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-05.feather
            trip_start_time       trip_stop_time
count                 88491                88491
unique                  720                  726
top     2018-05-23 17:00:00  2018-05-26 17:00:00
freq                    385                  410
first   2018-05-01 00:00:00  2018-05-01 00:00:00
last    2018-06-01 00:00:00  2018-06-01 11:00:00
--------------------------------------------------
feather-data/vancouver_2018-05_xtr.feather
            trip_start_time       trip_stop_time
count                 88491                88491
unique                  720                  726
top     2018-05-23 17:00:00  2018-05-26 17:00:00
freq                    385                  410
first   2018-05-01 00:00:00  2018-05-01 00:00:00
last    2018-06-01 00:00:00  2018-06-01 11:00:00
--------------------------------------------------
feather-data/vancouver_2018-06.feather
            trip_start_time       trip_stop_time
count                 87435                87435
unique                  704                  714
top     2018-06-26 17:00:00  2018-06-26 18:00:00
freq                    428                  443
first   2018-06-01 00:00:00  2018-06-01 00:00:00
last    2018-07-01 00:00:00  2018-07-03 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-06_xtr.feather
            trip_start_time       trip_stop_time
count                 87435                87435
unique                  704                  714
top     2018-06-26 17:00:00  2018-06-26 18:00:00
freq                    428                  443
first   2018-06-01 00:00:00  2018-06-01 00:00:00
last    2018-07-01 00:00:00  2018-07-03 09:00:00
--------------------------------------------------
feather-data/vancouver_2018-07.feather
            trip_start_time       trip_stop_time
count                114368               114368
unique                  737                  737
top     2018-07-23 18:00:00  2018-07-23 18:00:00
freq                    442                  442
first   2018-07-01 00:00:00  2018-07-01 00:00:00
last    2018-08-01 00:00:00  2018-08-01 00:00:00
--------------------------------------------------
feather-data/vancouver_2018-07_xtr.feather
            trip_start_time       trip_stop_time
count                114368               114368
unique                  737                  737
top     2018-07-23 18:00:00  2018-07-23 18:00:00
freq                    442                  442
first   2018-07-01 00:00:00  2018-07-01 00:00:00
last    2018-08-01 00:00:00  2018-08-01 00:00:00
--------------------------------------------------
feather-data/vancouver_2018-08.feather
            trip_start_time       trip_stop_time
count                110994               110994
unique                  743                  754
top     2018-08-14 17:00:00  2018-08-14 17:00:00
freq                    475                  476
first   2018-08-01 00:00:00  2018-08-01 00:00:00
last    2018-09-01 00:00:00  2018-09-06 15:00:00
--------------------------------------------------
feather-data/vancouver_2018-08_xtr.feather
            trip_start_time       trip_stop_time
count                110994               110994
unique                  743                  754
top     2018-08-14 17:00:00  2018-08-14 17:00:00
freq                    475                  476
first   2018-08-01 00:00:00  2018-08-01 00:00:00
last    2018-09-01 00:00:00  2018-09-06 15:00:00
--------------------------------------------------
feather-data/vancouver_2018-09.feather
            trip_start_time       trip_stop_time
count                 77451                77451
unique                  715                  715
top     2018-09-17 17:00:00  2018-09-17 17:00:00
freq                    408                  409
first   2018-09-01 00:00:00  2018-09-01 00:00:00
last    2018-10-01 00:00:00  2018-10-01 13:00:00
--------------------------------------------------
feather-data/vancouver_2018-09_xtr.feather
            trip_start_time       trip_stop_time
count                 77451                77451
unique                  715                  715
top     2018-09-17 17:00:00  2018-09-17 17:00:00
freq                    408                  409
first   2018-09-01 00:00:00  2018-09-01 00:00:00
last    2018-10-01 00:00:00  2018-10-01 13:00:00
--------------------------------------------------
feather-data/vancouver_2018-10.feather
            trip_start_time       trip_stop_time
count                 65219                65219
unique                  736                  742
top     2018-10-15 17:00:00  2018-10-15 18:00:00
freq                    387                  363
first   2018-10-01 00:00:00  2018-10-01 01:00:00
last    2018-11-01 00:00:00  2018-11-04 10:00:00
--------------------------------------------------
feather-data/vancouver_2018-10_xtr.feather
            trip_start_time       trip_stop_time
count                 65219                65219
unique                  736                  742
top     2018-10-15 17:00:00  2018-10-15 18:00:00
freq                    387                  363
first   2018-10-01 00:00:00  2018-10-01 01:00:00
last    2018-11-01 00:00:00  2018-11-04 10:00:00
--------------------------------------------------
feather-data/vancouver_2018-11.feather
            trip_start_time       trip_stop_time
count                 39230                39230
unique                  705                  713
top     2018-11-02 17:00:00  2018-11-02 17:00:00
freq                    249                  253
first   2018-11-01 00:00:00  2018-11-01 00:00:00
last    2018-12-01 00:00:00  2018-12-01 13:00:00
--------------------------------------------------
feather-data/vancouver_2018-11_xtr.feather
            trip_start_time       trip_stop_time
count                 39230                39230
unique                  705                  713
top     2018-11-02 17:00:00  2018-11-02 17:00:00
freq                    249                  253
first   2018-11-01 00:00:00  2018-11-01 00:00:00
last    2018-12-01 00:00:00  2018-12-01 13:00:00
--------------------------------------------------
feather-data/vancouver_2018-12.feather
            trip_start_time       trip_stop_time
count                 27563                27563
unique                  730                  742
top     2018-12-31 13:00:00  2018-12-31 15:00:00
freq                    215                  202
first   2018-12-01 00:00:00  2018-12-01 00:00:00
last    2019-01-01 00:00:00  2019-01-02 17:00:00
--------------------------------------------------
feather-data/vancouver_2018-12_xtr.feather
            trip_start_time       trip_stop_time
count                 27563                27563
unique                  730                  742
top     2018-12-31 13:00:00  2018-12-31 15:00:00
freq                    215                  202
first   2018-12-01 00:00:00  2018-12-01 00:00:00
last    2019-01-01 00:00:00  2019-01-02 17:00:00
--------------------------------------------------
feather-data/vancouver_2019-01.feather
            trip_start_time       trip_stop_time
count                 36725                36725
unique                  719                  722
top     2019-01-13 15:00:00  2019-01-13 15:00:00
freq                    234                  217
first   2019-01-01 00:00:00  2019-01-01 00:00:00
last    2019-02-01 00:00:00  2019-02-01 10:00:00
--------------------------------------------------
feather-data/vancouver_2019-01_xtr.feather
            trip_start_time       trip_stop_time
count                 36725                36725
unique                  719                  722
top     2019-01-13 15:00:00  2019-01-13 15:00:00
freq                    234                  217
first   2019-01-01 00:00:00  2019-01-01 00:00:00
last    2019-02-01 00:00:00  2019-02-01 10:00:00
--------------------------------------------------
feather-data/vancouver_2019-02.feather
            trip_start_time       trip_stop_time
count                 26095                26095
unique                  636                  640
top     2019-02-20 17:00:00  2019-02-28 18:00:00
freq                    184                  199
first   2019-02-01 00:00:00  2019-02-01 00:00:00
last    2019-03-01 00:00:00  2019-03-01 19:00:00
--------------------------------------------------
feather-data/vancouver_2019-02_xtr.feather
            trip_start_time       trip_stop_time
count                 26095                26095
unique                  636                  640
top     2019-02-20 17:00:00  2019-02-28 18:00:00
freq                    184                  199
first   2019-02-01 00:00:00  2019-02-01 00:00:00
last    2019-03-01 00:00:00  2019-03-01 19:00:00
--------------------------------------------------
feather-data/vancouver_2019-03.feather
            trip_start_time       trip_stop_time
count                 57435                57435
unique                  729                  735
top     2019-03-19 18:00:00  2019-03-19 18:00:00
freq                    348                  342
first   2019-03-01 00:00:00  2019-03-01 00:00:00
last    2019-03-31 23:00:00  2019-04-01 15:00:00
--------------------------------------------------
feather-data/vancouver_2019-03_xtr.feather
            trip_start_time       trip_stop_time
count                 57435                57435
unique                  729                  735
top     2019-03-19 18:00:00  2019-03-19 18:00:00
freq                    348                  342
first   2019-03-01 00:00:00  2019-03-01 00:00:00
last    2019-03-31 23:00:00  2019-04-01 15:00:00
--------------------------------------------------

In [3]:
tor = feather.read_feather('feather-data/tor_stations.feather')
van = feather.read_feather('feather-data/van_stations.feather')
mtl = feather.read_feather('feather-data/mtl_stations.feather')

In [3]:
tor.head(3)

   code             intersection city   latitude  longitude
0  7000  King St W & Spadina Ave  tor  43.250575 -79.833498
1  7001            519 Church St  tor  43.666552 -79.380943
2  7002         51 Parliament St  tor  43.651951 -79.362142

In [4]:
van.head(3)

   code     intersection city   latitude  longitude
0  0278  15th & Victoria  van  49.249660 -123.11934
1  0273   Victoria & 4th  van  49.266851 -123.06582
2  0171      5th & Yukon  van  49.249660 -123.11934

In [5]:
mtl.head(3)

   code              intersection   latitude  longitude city
0  6209            Milton & Clark  45.512520 -73.570620  mtl
1  6436  Côte St-Antoine & Clarke  45.486452 -73.595234  mtl
2  6214           Square St-Louis  45.517350 -73.569060  mtl

In [6]:
tor = tor[['code', 'intersection', 'latitude', 'longitude', 'city']]
tor.head(3)

   code             intersection   latitude  longitude city
0  7000  King St W & Spadina Ave  43.250575 -79.833498  tor
1  7001            519 Church St  43.666552 -79.380943  tor
2  7002         51 Parliament St  43.651951 -79.362142  tor

In [7]:
van = van[['code', 'intersection', 'latitude', 'longitude', 'city']]
van.head(3)

   code     intersection   latitude  longitude city
0  0278  15th & Victoria  49.249660 -123.11934  van
1  0273   Victoria & 4th  49.266851 -123.06582  van
2  0171      5th & Yukon  49.249660 -123.11934  van

Single file with stations for all three cities

In [10]:
stations_all = pd.concat([tor, van, mtl], axis = 0, sort = False)
stations_all.shape

(1055, 5)

In [11]:
stations_all.isna().values.any()

False

In [15]:
stations_all.head()

   code                          intersection   latitude  longitude city
0  7000               King St W & Spadina Ave  43.250575 -79.833498  tor
1  7001                         519 Church St  43.666552 -79.380943  tor
2  7002                      51 Parliament St  43.651951 -79.362142  tor
3  7003  25 York St (ACC&Union Station South)  43.643432 -79.381214  tor
4  7004       Liberty St & Fraser Ave Green P  43.637585 -79.424121  tor

In [17]:
stations_all.set_index(['code', 'city'], inplace = True, verify_integrity = True) # duplicate indices

ValueError: Index has duplicate keys: MultiIndex(levels=[['0044', '0108', '0148', '0173', '0221', '0997', '1000'], ['van']],
           codes=[[3, 5, 2, 1, 0, 4, 6], [0, 0, 0, 0, 0, 0, 0]],
           names=['code', 'city'])

In [20]:
van[van.code == '0044']

     code        intersection   latitude   longitude city
38   0044    Richards & Beach  49.283085 -123.113368  van
181  0044  Pacific & Richards  49.273738 -123.127517  van

In [21]:
van[van.code == '0108']

     code    intersection   latitude   longitude city
22   0108  1st & Chestnut  49.249660 -123.119340  van
177  0108   Cypress & 1st  49.270704 -123.147877  van

In [22]:
van[van.code == '0148']

     code          intersection   latitude   longitude city
98   0148  Creekside Park North  49.316360 -123.069340  van
103  0148      Quebec & Milross  49.276082 -123.102074  van

In [23]:
van[van.code == '0173']

    code    intersection   latitude   longitude city
19  0173  Columbia & 2nd  49.269231 -123.109428  van
55  0173  1st & Columbia  49.249660 -123.119340  van

In [24]:
van[van.code == '0221']

     code  intersection  latitude  longitude city
68   0221  Glen & Union  49.24966 -123.11934  van
194  0221  Union & Glen  49.24966 -123.11934  van

In [25]:
van[van.code == '0997']

    code        intersection  latitude  longitude city
39  0997         HQ Workshop  49.24966 -123.11934  van
82  0997  WareHouse Workshop  49.24966 -123.11934  van

In [26]:
van[van.code == '1000']

     code                          intersection  latitude  longitude city
120  1000              Temporary Events Station  49.24966 -123.11934  van
206  1000  Temporary Station - Marketing Events  49.24966 -123.11934  van

In [4]:
van.drop_duplicates('code', keep = 'first', inplace = True) # keep one address from each pair

In [36]:
stations_all = pd.concat([tor, van, mtl], axis = 0, sort = False)
stations_all.shape

(1048, 5)

In [37]:
stations_all.set_index(['code', 'city'], inplace = True, verify_integrity = True)

In [38]:
stations_all.head()

                                   intersection   latitude  longitude
code city
7000 tor                King St W & Spadina Ave  43.250575 -79.833498
7001 tor                          519 Church St  43.666552 -79.380943
7002 tor                       51 Parliament St  43.651951 -79.362142
7003 tor   25 York St (ACC&Union Station South)  43.643432 -79.381214
7004 tor        Liberty St & Fraser Ave Green P  43.637585 -79.424121

In [39]:
stations_all.reset_index(inplace = True)

In [40]:
stations_all = stations_all[['code', 'intersection', 'latitude', 'longitude', 'city']]

In [41]:
feather.write_feather(stations_all, 'feather-data/stations-all.feather')